/* --------------------bootstrap overrides----------------------- */
body{
   background: url("../images/bkg-german-shepherd.jpg") bottom left no-repeat;	 
   background-attachment:fixed; 
   font-family: 'Open Sans', sans-serif;
} 
.main{
    margin-top:50px;
    background-color: none;
}
.row {
background: none;
}
.bg-success green{
    padding:10px;
    background: #6C7E23;
    color:white; 
} 
.bg-success white{
    padding:10px;
    background: #fff; 
}
/* ---navbar overrides--- */
.navbar-default {
	background-color:#fff;
}
.navbar-default .navbar-brand .logo{
	margin-left: 15px;
}

.navbar-default .navbar-nav li   {
    border-right: 1px solid gray;
}
.navbar-default .navbar-nav li a {
    color: white;
    font-weight:bold;
}

.navbar-default .navbar-nav li:hover{
	background:red;
	border-radius:2px 2px;
}

.navbar-default .navbar-nav li a:hover { 
	color: white;
}  

.navbar-fixed-bottom{
	padding-top:10px;
	background:#333; 
	color:#fff; 
	height:10px;
}

.navbar-fixed-bottom a{
	color:#fff;  
} 

.navbar-fixed-bottom a:hover{
	color:red;  
}

.navbar-default {
	background-color: none;
	border-color: #fff;
}
