 


<style>
.contact-info a{
color:#333;
}
.contact-info {
	border:1px solid #ddd;
margin-top:-10px;
margin-left:10px; 
margin-right:20px; 
background:white;
opacity:.9; 
position:relative;
border-radius: 2px 2px;
padding: 10px 20px 10px 20px;
text-decoration:none !important;
line-height: 1.8em;
}
.contact-column {
background:#000;
opacity:.9;
}
.left-glyph span{
	margin-left:-6px;
}
.left-glyph {
	background:#586B07;
	color:white;
	margin-left:15px;margin-right:-7px;
}
.left-contact{
    margin-left:0px;margin-right:-10px;background:#ddd;   text-align:right; font-weight:bold;
}
.right-contact{ 
    margin-left:0px;margin-right:-10px;
}
</style>
<div class="col-md-11 contact-info"  >
	<div class="row">					
		<div class="col-md-1 left-glyph"   >
			<span class="glyphicon glyphicon-earphone " aria-hidden="true"></span>
		</div>	 
		<div class="col-md-5 left-contact"  >	
			  Office + Sales: 
		</div>
		<div class="col-md-6  right-contact">
		 <a href="#">(615) 438-2602  </a>
		</div>
	</div>
	<div class="row">					
			<div class="col-md-1 left-glyph"   >
				<span class="glyphicon glyphicon-earphone " aria-hidden="true"></span>
				</div>	 
		<div class="col-md-5 left-contact"  >	
			  Training: 
		</div>
		<div class="col-md-6  right-contact">
		 <a href="#">(615) 499-8161 </a>
		</div>
	</div>
	<div class="row">					
			<div class="col-md-1 left-glyph"   >
				<span class="glyphicon glyphicon-envelope " aria-hidden="true"></span>
				</div>	 
		<div class="col-md-5 left-contact"  >	
			 Email: 
		</div>
		<div class="col-md-6  right-contact">
		<a href="#">Click here to email </a>
		</div>
	</div>
</div>