
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-xs-8 col-sm-4"  >
            <img class="img-responsive shepherd-background"     src="/images/bkg-german-shepherd.jpg"/>
                </div>
           <div class="col-md-10 col-xs-8 col-sm-4"  >
    </div>
</div>
	<div class="navbar navbar-default footer"  >
        <div class="container"> 
			<div class="row foot" > 
				<div class="col-md-1">
					 	  
					</div>
					<div class="col-md-3">
						<img src="/images/logo-icon.png" style="padding-right:20px"  height="30px"/>
						<img src="/images/footer.png"  height="30px" style="padding-right:20px; " />	  
					</div> 
					 <div class="col-md-4" style="padding-top:7px">
							© 2015 - Nashville K-9, LLC - All Rights Reserved  <a href="https://www.google.com/intl/en/policies/privacy/" style="margin-left:5px; font-size:9px">(Privacy)</a>
					</div>
					<div class="col-md-4" style="padding-top:3px; ">
							<a href="http://eepurl.com/bdQfET"  target="_blank" rel="nofollow"> <img class="bw2" src="/images/social/mail (6).png" height="35px"  /> </a>
		<a href="http://www.facebook.com/pages/wwwNashvilleK9com/283654260595"  target="_blank" rel="nofollow"><img  class="bw2" src="/images/social/facebook.png" height="35px"/></a>
		<a href="https://www.youtube.com/nashvillek9training"  target="_blank" rel="nofollow"><img class="bw2" src="/images/social/youtube.png" height="35px"/></a>
		<a href="http://www.yelp.com/biz/nashville-k-9-nashville" target="_blank" rel="nofollow"><img class="bw2" src="/images/social/yelp.png" height="35px"/></a>
		<a href="https://instagram.com/nashvillek9" target="_blank" rel="nofollow"><img class="bw2" src="/images/social/instagram.png" height="35px"/></a>
		<a href="http://twitter.com/nashvillek9" target="_blank" rel="nofollow"><img class="bw2" src="/images/social/twitter.png" height="35px"/></a>
		<a href="https://plus.google.com/b/115830301031850500261/+Nashvillek9Training/about" target="_blank" rel="nofollow" ><img class="bw2" src="/images/social/google.png" height="35px" /></a>
				  </div>
			</div> 
		</div>
	</div>	 

	 <!-- Ad-Roll-->
	 <script type="text/javascript">
		  adroll_adv_id = "TOZAI6OAMZEY5IUPUGAEFF";
		  adroll_pix_id = "BM4YG3HCBRCC5HWL4UHEFN";
		  (function () {
				var oldonload = window.onload;
				window.onload = function () {
					 __adroll_loaded = true;
					 var scr = document.createElement("script");
					 var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
					 scr.setAttribute('async', 'true');
					 scr.type = "text/javascript";
					 scr.src = host + "/j/roundtrip.js";
					 ((document.getElementsByTagName('head') || [null])[0] ||
					  document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
					 if (oldonload) { oldonload() }
				};
		  }());
	 </script>
 
 
    <!-- End-->