<div class="row">
    <div style="height:0px;background:#000;box-shadow: 2px 2px 2px #000;"></div>
</div>
        
<div class="row" style="margin-top:40px; ">
  <div class="col-xs-6 col-sm-2"> </div>
  <div class="col-xs-6 col-sm-3"> </div> 
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div> 
  <div class="col-xs-12 col-sm-3">
		
  </div>
  
  <div class="col-xs-12 col-sm-4"   style="margin-top:0px; float:right;margin-right:-20px; margin-bottom:-5px; ">
		<a href="http://eepurl.com/bdQfET"  target="_blank" rel="nofollow"> <img class="bw2" src="/images/social/mail (6).png" height="35px"  /> </a>
		<a href="http://www.facebook.com/pages/wwwNashvilleK9com/283654260595"  target="_blank" rel="nofollow"><img  class="bw2" src="/images/social/facebook.png" height="35px"/></a>
		<a href="https://www.youtube.com/nashvillek9training"  target="_blank" rel="nofollow"><img class="bw2" src="/images/social/youtube.png" height="35px"/></a>
		<a href="http://www.yelp.com/biz/nashville-k-9-nashville" target="_blank" rel="nofollow"><img class="bw2" src="/images/social/yelp.png" height="35px"/></a>
		<a href="https://instagram.com/nashvillek9" target="_blank" rel="nofollow"><img class="bw2" src="/images/social/instagram.png" height="35px"/></a>
		<a href="http://twitter.com/nashvillek9" target="_blank" rel="nofollow"><img class="bw2" src="/images/social/twitter.png" height="35px"/></a>
		<a href="https://plus.google.com/b/115830301031850500261/+Nashvillek9Training/about" target="_blank" rel="nofollow" ><img class="bw2" src="/images/social/google.png" height="35px" /></a>
  </div>
</div>

<nav class="navbar navbar-default" style="margin:10px 0px -5px">
  <div class="container-fluid">
	 <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		  <span class="sr-only"> </span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand logo" href="#"> </a>  
		<div style="margin-left:-15px;font-size:13px">Better Trainers.  Better Results.</div>
	 </div>
	 
	 <div id="navbar" class="navbar-collapse collapse">
 </br>  
		<ul class="nav navbar-nav navbar-right">
		<li id="homeli"><a href="/index.php">HOME</a></li>
			<li id="overviewli"><a href="/dog-training-tn-overview/overview.php"> OVERVIEW</a></li>
			<li id="servicesli"><a href="/dog-training-tn-services/services.php">  SERVICES</a></li>
			<li id="dogsli"><a href="/dogs.php">DOGS</a></li>
			<li id="videosli"><a href="/training-videos.php">TRAINING VIDEOS</a></li>
			<li id="galleryli"><a href="/gallery.php">GALLERY</a></li>
			<li id="contactli"><a href="/contact.php">CONTACT</a></li> 
		</ul>
	 </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
  		
</nav>
 
	
			 