 
    <title>Nashville K-9</title>
    <meta name="viewport" http-equiv="Content-Type" content="width=device-width, intitial-scale=1.0" /> 
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/overrides.css" rel="stylesheet">
	 <link href="/css/custom.css" rel="stylesheet">
	  <link href="/css/dog.css" rel="stylesheet">
	 <link href="/css/img-hover-effect.css" rel="stylesheet"> 
	 <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	 	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
	   <script src="/js/random.js"></script>
 <!-- FancyBox -->
		<script type="text/javascript" src="/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
		<link rel="stylesheet" href="/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
		<script type="text/javascript" src="/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script> 
		<script type="text/javascript"> 
			jQuery(document).ready(function($){
				$(".fancybox").fancybox({
					openEffect	: 'none',
					closeEffect	: 'none'
				});
				$(".various").fancybox({
					maxWidth	: 800,
					maxHeight	: 600,
					fitToView	: false,
					width		: '70%',
					height		: '70%',
					autoSize	: false,
					closeClick	: false,
					openEffect	: 'none',
					closeEffect	: 'none'
				});
			});	
		/*	  function setMainNav(page)
		{ alert(page);
			 mainli =   document.getElementById('mainNav').getElementsByTagName('li');
			 maina =   document.getElementById('mainNav').getElementsByTagName('a');
			 for(i=0;i<mainli.length;i++)
			 {
			 alert(document.location.href)
			 alert(mainli)
				  if(document.location.href.indexOf(mainli )>=0)
				  {
						mainli.className='active';

				  }
			 }
		}*/
		 
				 <!--   $(function() {-->
				 <!--    $('ul li').click( function() {-->
				 <!--  	 $(this).addClass('active').siblings().removeClass('active');-->
				 <!--    });-->
			 <!--  	});-->
	 
		</script>
		 
 	
 