
<div class="row">
    <div class="col-xs-12 col-sm-4" style="margin-left:20px;">
        <div style="border :0px solid #ccc; background:#fff; color:#17233c">
        <div class="mask-header-text" style=" padding:10px 10px 15px 0px;"><span class="glyphicon glyphicon-phone" style="color:#c50000"></span> OFFICE + SALES:  </div>
        <div class="mask-header-text" style=" padding:10px 37px 10px 5px;  float:right  ">(615) 438-2602</div>
        <div class="mask-header-text" style=" padding:5px 10px 20px 0px;"><span class="glyphicon glyphicon-phone" style="color:#c50000"></span> TRAINING:   </div>
        <div class="mask-header-text" style="padding:5px 37px 30px 0px; float:right">(615) 499-8161</div>
        </div>
        <div class="fb-like-box facebook-background" data-href="https://www.facebook.com/NashvilleK9" style=" -moz-box-shadow: 0 0 0px #000; -webkit-box-shadow: 0 0 0px #333;margin-top:10px; box-shadow: 0 0 0px #333;opacity:1;border:1px solid #ccc; background:white" data-width="285" data-height="550" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false" allowtransparency="false">
        </div>
    </div>
    <div class="col-xs-10 col-sm-4"  style="margin-left:20px;" >
        
        <div class="programs">
            <div class="programs-title"> TRAINING PROGRAMS </div>
            <div class="view view-first">
                <img src="/images/training-programs.png" />
                <div class="mask">
                    <p>Our dog trainers have extensive experience with rescues, strays, and other dogs who may have faced challenges early in life. We are one of Tennessee’s premier facilities for obedience training and behavior problem management. </p>
                    <a href="/dog-training-tn-services/dog-training-programs.php" class="info">Read More</a>
                </div>
            </div>
        </div>
        
        <div class="programs">
            <div class="programs-title"> PET FIRST AID</div>
            <div class="view view-first">
                <img src="images/pet-first-aid.png" />
                <div class="mask">
                    <p> In addition to providing daily care, love and affection, your best friend depends on you in an emergency. Whether your pet becomes ill or injured, or needs help in a disaster, the American Red Cross can help.</p>
                    <a href="/dog-training-tn-services/pet-first-aid.php" class="info">Read More</a>
                </div>
            </div>
        </div>
        
        <div class="programs">
            <div class="programs-title"> DETECTION DOGS</div>
            <div class="view view-first">
                <img src="/images/detection-dogs.png" />
                <div class="mask">
                    
                    <p>Nashville K-9 is here to help schools, businesses, or personal homes with confidential narcotic searches. Our specially trained detection narcotic dogs will alert to the presence of old or new odors. </p>
                    <a href="/dog-training-tn-services/detection-dogs.php" class="info">Read More</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs-block"></div>
    
    <div class="col-xs-10 col-sm-4" style="margin:0px -20px;" >
        <div class="programs" >
        <div class="programs-title"> EXECUTIVE PROTECTION</div>
        <div class="view view-first">
            <img src="/images/executive-protection.png" />
            <div class="mask">
                
                <p>We're glad you're taking your family's safety into consideration in today's world. We have taken the appropriate steps to ensure our unmatched experience in obtaining and training a potential personal protection dog for you.</p>
                <a href="/dog-training-tn-services/executive-protection-dogs.php" class="info">Read More</a>
            </div>
        </div>
        </div>
        
        <div class="programs" >
            <div class="programs-title"> POLICE DOGS</div>
            <div class="view view-first">
                <img src="/images/police-dogs.png" />
                <div class="mask">
                    
                    <p><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> &nbsp;Dual Purpose K-9 </br>
						  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Narcotics or Explosives)
						  </br><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> &nbsp;S.W.A.T Purpose K-9 </br>
						  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Apprehension Only)
						  </br><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> &nbsp;Patrol K-9 </br>
						  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Patrol & Trailing)
						  </p>
                    <a href="/dog-training-tn-services/police-dogs.php" class="info">Read More</a>
                </div>
            </div>
        </div>
        
        <div class="programs" >
            <div class="programs-title">SEARCH AND RESCUE</div>
            <div class="view view-first">
                <img src="/images/search-rescue.png" />
                <div class="mask">
                     
                    <p> Our K-9 team objectives are to serve and protect Nashville/Cookeville and the surrounding counties by volunteering our time to K-9 Search and Rescue (SAR) or recovery, utilizing canines for the relief and aid of saving lives.</p>
                    <a href="/dog-training-tn-services/search-and-rescue.php" class="info">Read More</a>
                </div>
            </div>
        </div>

    </div>
</div>




    