
<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/static_page_sidebar', :locals => { :show_links => true } %>
  <div class="content">

    <h2>Our Dogs</h2>









    <div class="title">
      Argo Avodar, Level I Personal Protection Dog
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/argo-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>
        <li class="parent"><span class="text">Breeds: Doberman Pinscher  </span></li>
        <li class="parent"><span class="text">Date of Birth: March 7, 2010 </span></li>
        <li class="parent"><span class="text">Sire: Dixon Gumby, ZM, ZVV1, SchH1, IPO3, FPr2  </span></li>
        <li class="child"><span class="text">JCH CZ, CH CZ, CR Grand Champion  </span></li>
        <li class="child"><span class="text">2009 National Champion, 2x Regional winner  </span></li>
        <li class="child"><span class="text">DKKO/O, ECG-Negative </span></li>
        <li class="child"><span class="text">The most successful working Doberman MSDK 2008</span></li>
        <li class="child"><span class="text">20087x BOB – breed champion</span></li>
        <li class="child"><span class="text">Candidate for the Polish and Slovak championships</span></li>
        <li class="child"><span class="text">Interchampion Candidate</span></li>
        <li class="parent"><span class="text">Dam: Lorraine Halit Pasa, ZZO, ZM, ZOP, ZPU1, BH, ZTP SG 1</span></li>
        <li class="child"><span class="text">Many times CAC, R. CAC, JCH CZ</span></li>
        <li class="child"><span class="text">DKKO/O, ECG-Negative</span></li>
        <li class="child"><span class="text">Club Winner 2008, 2009</span></li>
      </ul>
    </div>










    <div class="title">
      Yogi von Stutts
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/yogi-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">Breed: Cane Corso</span></li>
        <li class="parent"><span class="text">Sire: Boone Stutts</span></li>
        <li class="parent"><span class="text"> Dam: Bandr’s Mona Lisa De Nicci</span></li>
        <li class="parent"><span class="text">Date of Birth: May 19, 2009</span></li>
        <li class="parent"><span class="text"> Certifications: International Cane Corso Federation, AKC S.T.A.R. Puppy, AKC Canine Good Citizen, AKC Registration available</span></li>
        <li class="parent"><span class="text">Yogi is a great family dog. Raised around small children, he is patient and loving. He’s fully trained on leash and off leash, will heel on your left, and has a natural charisma that stops people around just to watch. He’s protective in the home, but really gentle with the family. He’s great with other dogs and has great stamina if you’d like to take him on a run.
        He’s up to date on all vaccinations.</span></li>
      </ul>
    </div>



    <div class="title">
      Aska vom Ketscher Wald, KKL1, BH, SCHIII
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/aska-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">Breed: German Shepherd</span></li>
        <li class="parent"><span class="text">Sire: Tasso vom Ketcher Wald, SCHII </span></li>
        <li class="parent"><span class="text">Dam: Enchi vom Karlmitblick, SCHIII </span></li>
        <li class="parent"><span class="text">Date of Birth: September 1, 2004  </span></li>
      </ul>
    </div>



    <div class="title">
      Bessi von der Alten Schmiede, BH, SCH III, IPO III, AD, FH1, KKL1
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/bessi-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">German Shepherd, Hips, Eyes, and Elbows Certified, DNA tests conducted</span></li>
        <li class="parent"><span class="text"> Two of Bessi’s pups have competed in the Bundessieger </span></li>
        <li class="parent"><span class="text"> Super obedience and high drives     </span></li>
        <li class="parent"><span class="text"> High 90′s in each, 5 times completing SCH III </span></li>
        <li class="parent"><span class="text"> Very Social with people and other dogs  </span></li>
        <li class="parent"><span class="text"> Explosive bites with fast recharge   </span></li>
      </ul>
    </div>




    <div class="title">
      Peik vom Dichterviertel, BH- AVAILABLE FOR STUD ONLY
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/peik-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">Breed: German Shepherd  </span></li>
        <li class="parent"><span class="text">Sire: Frisko von der Altstadener Mühle, VPG III, IPO III, FH I, 2 x LGA, 3 x FCI  </span></li>
        <li class="parent"><span class="text">Dam: Manou vom Oberhausener-Kreuz, SCHIII </span></li>
        <li class="parent"><span class="text">JDate of Birth: 11/18/2007       </span></li>
        <li class="parent"><span class="text">Very intense, great protection, great obedience, very hard grips, will REALLY bite (not just sport). Extremely athletic, good stature, and powerful. “Ike” [Piek] is available for scrutinized stud to approved females. Breeders: we will not “mass” breed Ike for his bloodlines. You will have to come with paperwork, health records, and a serious offer to breed with this dog.  </span></li>
      </ul>
    </div>





    <div class="title">
      Ken vom Glockeneck, BH, SCH III, AD, KKL1
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/ken-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">German Shepherd – Hips, Eyes, and Elbows Certified, DNA Tests Conducted </span></li>
        <li class="parent"><span class="text">He is extremely agile, quick, responsive, fast recharge time, and hits hard with full force.</span></li>
        <li class="parent"><span class="text">Excellent grips, long hunt drive, and explosive fight drive. </span></li>
        <li class="parent"><span class="text">High 90’s in protection </span></li>
        <li class="parent"><span class="text">Very aggressive to outsiders.  </span></li>
      </ul>
    </div>




    <div class="title">
      Maxine vom Smaragdwald, BH, SCH III, AD
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/maxine-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">She is extremely agile, high bites, and hits hard with excellent grips.</span></li>
        <li class="parent"><span class="text">She excels in tracking obedience, and loves to show her courage in protection. </span></li>
        <li class="parent"><span class="text">High Schutzhund scores (high 90’s in all), clear head, and very social.</span></li>
        <li class="parent"><span class="text">Very aggressive to outsiders.    </span></li>
      </ul>
    </div>









    <div class="title">
      Asko Vom Brockelstein, BH, SCH III, AD, KKL1
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/asko-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">Former DCRS K-9 SAR dog, East DDR German Shepherd  </span></li>
        <li class="parent"><span class="text">Asko was famous for working the Fairview/Franklin TN Tornadoes 2008 and captured on video by Nashville NBC station WSMV.</span></li>
        <li class="parent"><span class="text">Asko has relocated to Oregon to finish out his happy life. </span></li>
      </ul>
    </div>




    <div class="title">
      Anna vom Westcowdenhaus
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/anna-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">Breed: German Shepherd  </span></li>
        <li class="parent"><span class="text">Sire: Ken vom Glockeneck, KKL1, BH, SCHIII, AD  </span></li>
        <li class="parent"><span class="text">Dam: Bessi von der Alten Schmiede, KKL1, BH, SCHIII, IPOIII, AD, FHI </span></li>
        <li class="parent"><span class="text">Date of Birth: October 2, 2010 </span></li>
      </ul>
    </div>




    <div class="title">
      Kilo vom Westcowdenhaus
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/kilo-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">Breed: German Shepherd </span></li>
        <li class="parent"><span class="text">Sire: Ken vom Glockeneck, KKL1, BH, SCHIII, AD </span></li>
        <li class="parent"><span class="text">Dam: Bessi von der Alten Schmiede, KKL1, BH, SCHIII, IPOIII, AD, FHI</span></li>
        <li class="parent"><span class="text">Date of Birth: October 2, 2010</span></li>
      </ul>
    </div>





    <div class="title">
      Rocky vom Westcowdenhaus
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/rocky-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">Breed: German Shepherd</span></li>
        <li class="parent"><span class="text">Sire: Ken vom Glockeneck, KKL1, BH, SCHIII, AD</span></li>
        <li class="parent"><span class="text">Dam: Bessi von der Alten Schmiede, KKL1, BH, SCHIII, IPOIII, AD, FHI</span></li>
        <li class="parent"><span class="text">Date of Birth: October 2, 2010</span></li>
      </ul>
    </div>




    <div class="title">
      Uno vom Westcowdenhaus
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/uno-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">Breed: German Shepherd</span></li>
        <li class="parent"><span class="text">Sire: Ken vom Glockeneck, KKL1, BH, SCHIII, AD</span></li>
        <li class="parent"><span class="text">Dam: Bessi von der Alten Schmiede, KKL1, BH, SCHIII, IPOIII, AD, FHI</span></li>
        <li class="parent"><span class="text">Date of Birth: October 2, 2010</span></li>
      </ul>
    </div>




    <div class="title">
      Leo vom Westcowdenhaus
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/leo-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">Breed: German Shepherd</span></li>
        <li class="parent"><span class="text">Sire: Ken vom Glockeneck, KKL1, BH, SCHIII, AD</span></li>
        <li class="parent"><span class="text">Dam: Bessi von der Alten Schmiede, KKL1, BH, SCHIII, IPOIII, AD, FHI</span></li>
        <li class="parent"><span class="text">Date of Birth: October 2, 2010</span></li>
      </ul>
    </div>



    <div class="title">
      Ziva vom Westcowdenhaus
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/ziva-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">Breed:German Shepherd</span></li>
        <li class="parent"><span class="text">Sire: Ken vom Glockeneck, KKL1, BH, SCHIII, AD</span></li>
        <li class="parent"><span class="text">Dam: Bessi von der Alten Schmiede, KKL1, BH, SCHIII, IPOIII, AD, FHI</span></li>
        <li class="parent"><span class="text">Date of Birth: October 2, 2010</span></li>
      </ul>
    </div>



    <div class="title">
      Tank, Peanut Detection
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/tank-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text"> We trained tank to detect peanuts for a young child’s allergy. He was trained to go to school with the child every day, socialized, and can detect peanuts in virtually every kind of food.</span></li>
      </ul>
    </div>



    <div class="title">
      Tiko, BRII
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/tiko-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">He has impeccable obedience and enjoys being worked! He makes high walls and jumps look easy. His sit, down, and stand are EXCELLENT.</span></li>
        <li class="parent"><span class="text">He has a very high play drive, an excellent bite, good hunt, and is friendly with children, adults, and other dogs.</span></li>
        <li class="parent"><span class="text">Tiko is trained completely for the Belgian Ring (Level 2). He can be cross trained for whatever you’d like.</span></li>
        <li class="parent"><span class="text">He has already entered some Belgian Ring trials.</span></li>
        <li class="parent"><span class="text">Hips, elbows and spine are good.</span></li>
        <li class="parent"><span class="text">We will be selling him as a personal protection dog, or S.W.A.T. Team dog. He’s great with kids, ages 4 and up and also well mannered around cats.</span></li>
        <li class="parent"><span class="text">He will NOT go to a police department for regular patrol work. Police SWAT K-9 Handlers may call us direct. If you are not a SWAT team or do not have a SWAT team, please call us for another type of dog.</span></li>
      </ul>
    </div>



    <div class="title">
      Roxy vom Neerland, FEMA FSA & CE (Type II,I) Ready, DCRS K-9
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/roxy-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">S.W.A.T. Certification Complete</span></li>
        <li class="parent"><span class="text">Dam: Xena van Neerland,Rayl, KNPV</span></li>
        <li class="parent"><span class="text">Sire: Joey haus Janssen,Rayl, KNPV</span></li>
        <li class="parent"><span class="text">Roxy is a Urban Search and Rescue Dog-US&R (Rubble- live find) for the Davidson County Rescue Squad. She is ready for her FEMA Type I test (CE) now and has been training on water and land cadaver. Very ball crazy, excellent hunt drives, very protective
        but also capable of being a light switch. Extremely nimble, quick, and has high stamina, with full grips. Obedience to perfection, calm and steady nerves, nothing phases her. She’s a working dog on rubble piles that are very unstable, and her manueverability is impeccable. Very, very high drives, excellent focus and coordination. She can catch a ball launched in the air 30ft without it even bouncing. Great hips, solid dentals, good health. For Disaster Rescue, she has great directionals, very strong victim hunt drives, and listens well. Demonstrations are available. Please see all four videos of Roxy working.
        </span></li>
      </ul>
    </div>




    <div class="title">
      Carlo Van Neerland, PSA PDC
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/carlo-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">Only Dutch Malinois with KNPV-PH1 Sire and Dam in the U.S.</span></li>
        <li class="parent"><span class="text">Pedigree dates back to 1913</span></li>
        <li class="parent"><span class="text">bloedlijnen.nl</span></li>
        <li class="parent"><span class="text">Available for Stud Only</span></li>
      </ul>
    </div>



    <div class="title">
      Jack for Sale (Atlas vom Neville), CGC, Narcotics Detection (Drug Dog)
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/jack-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">Belgian Malinios Shepherd</span></li>
        <li class="parent"><span class="text">Born 12/05</span></li>
        <li class="parent"><span class="text">Super obedience, Ready for a BH</span></li>
        <li class="parent"><span class="text">Started on Narcotics Detection and Started on Cadaver</span></li>
        <li class="parent"><span class="text">Very Social with people; Cannot be in home with a small dog/small pet</span></li>
        <li class="parent"><span class="text">High Toy and Hunt Drive, loves searching</span></li>
      </ul>
    </div>




    <div class="title">
      Cowboy de Atlawor, Explosives Detection
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/cowboy-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">Belgian Malinios Shepherd</span></li>
        <li class="parent"><span class="text">Born 9/06</span></li>
        <li class="parent"><span class="text">Super obedience, Ready for a BH</span></li>
        <li class="parent"><span class="text">Started on Explosives</span></li>
        <li class="parent"><span class="text">Very crazy hunt drive; will search forever</span></li>
        <li class="parent"><span class="text">Super social, loves children and other dogs</span></li>
        <li class="parent"><span class="text">Very clear head, stable nerves</span></li>
      </ul>
    </div>




    <div class="title">
      Micah Vom Hemyarihaus, Nashville K-9 Demonstration Dog
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/micah-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">Micah has presented 74 K-9 Demonstrations</span></li>
        <li class="parent"><span class="text">These Demonstrations have been for Schutzhund, Police K-9, and Family Protection</span></li>
        <li class="parent"><span class="text">He is social with Children, Adults, and other Dogs</span></li>
        <li class="parent"><span class="text">Born 08/04/2000</span></li>
      </ul>
    </div>



    <div class="title">
      Our Cool Pet Scooby Doo
    </div>
    <div class="right-dogs">
      <div class="image-border-right">
        <img  src="/assets/dogs/scooby-main.jpg"/>
        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
        <div  class="video">Videos: </div>
      </div>
      <ul>

        <li class="parent"><span class="text">Scooby is a Rescue Dog saved by our family</span></li>
        <li class="parent"><span class="text">He’s come from a hard life with several abusive owners before retiring with us</span></li>
        <li class="parent"><span class="text">He is now social with Children, Adults, and other Dogs, and ready for a BH</span></li>
        <li class="parent"><span class="text">Born 7/2006</span></li>

      </ul>
    </div>





  </div>
</div>
