
<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/static_page_sidebar', :locals => { :show_links => true } %>
  <div class="content">
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/aussie1.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_aussie1.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/aussie2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_aussie2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/bichon.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_bichon.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/bichon2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_bichon2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/boxer1.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_boxer1.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/boxer2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_boxer2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/boxer3.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_boxer3.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/chihuahua.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_chihuahua.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/chihuahua2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_chihuahua2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/chihuahua3.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_chihuahua3.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/chihuahua4.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_chihuahua4.jpg"/>
    </a>

    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/cocker-spaniel.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_cocker-spaniel.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/cocker-spaniel2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_cocker-spaniel2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/cocker-spaniel3.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_cocker-spaniel3.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/doberman1.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_doberman1.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/doberman2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_doberman2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/english-shepherd.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_english-shepherd.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/german-shepherd2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_german-shepherd2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/german-shepherd3.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_german-shepherd3.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/german-shepherd4.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_german-shepherd4.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/german5.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_german5.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/golden-retreiver.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_golden-retreiver.jpg"/>
    </a>

    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/gsp.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_gsp.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/hunting1.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_hunting1.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/hunting2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_hunting2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/lab1.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_lab1.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/lab2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_lab2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/lab3.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_lab3.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mastiff1.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mastiff1.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mastiff2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mastiff2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mastiff3.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mastiff3.jpg"/>
    </a>

    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mix1.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mix1.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mix2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mix2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mix3.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mix3.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mix4.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mix4.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mix5.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mix5.jpg"/>
    </a>

    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mix7.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mix7.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mix8.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mix8.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mix9.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mix9.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mix10.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mix10.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mix11.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mix11.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mix12.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mix12.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mix13.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mix13.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mix14.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mix14.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mix15.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mix15.jpg"/>
    </a>

    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mountain-dog-2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mountain-dog-2.jpg"/>
    </a>

    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/mountain-dog.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_mountain-dog.jpg"/>
    </a>

    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/pit-bull.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_pit-bull.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/pit-bull2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_pit-bull2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/pit-bull3.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_pit-bull3.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/pit-bull4.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_pit-bull4.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/poodle1.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_poodle1.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/poodle2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_poodle2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/rhodesian1.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_rhodesian1.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/rhodesian2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_rhodesian2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/rhodesian3.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_rhodesian3.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/rhodesian4.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_rhodesian4.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/rottweiler.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_rottweiler.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/rottweiler2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_rottweiler2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/rottweiler3.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_rottweiler3.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/rottweiler4.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_rottweiler4.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/schnauzer1.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_schnauzer1.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/schnauzer2.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_schnauzer2.jpg"/>
    </a>
    <a class="fancybox" rel="dog-training-mix" href="/assets/gallery/dog-training-mix/wheaton1.jpg" >
      <img  src="/assets/gallery/dog-training-mix/thumbs/thumbs_wheaton1.jpg"/>
    </a>
  </div>
</div>