
<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/static_page_sidebar', :locals => { :show_links => true } %>
  <div class="content">
    <div class="block-header">
      Hear what our clients are saying!
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
        <tr>
          <td><div class="bordered-promos"></div></td>
        </tr>
      </table>

    </div>


    <div class="block-header">
      some of our dogs
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
      </table>
    </div>


    <div class="block-header">
      dog obedience training videos
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
      </table>
    </div>


    <div class="block-header">
      protection dog videos
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
        <tr>
          <td><div class="bordered-promos"></div></td>
        </tr>
      </table>
    </div>


    <div class="block-header">
     search and rescue videos
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
      </table>
    </div>



    <div class="block-header">
      dog agility video
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td><div class="bordered-promos"></div></td>
        </tr>
      </table>
    </div>


    <div class="block-header">
      dog demonstration videos
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
        <tr>
          <td><div class="bordered-promos"></div></td>
          <td><div class="bordered-promos"></div></td>
        </tr>
      </table>
    </div>


    <div class="block-header">
     pet first aid video
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td><div class="bordered-promos"></div></td>
        </tr>
      </table>
    </div>


    <div class="block-header">
      ring sport
    </div>
    <div class="title"></div>
    <ul>
      <li><span class="text"> Belgian Malinois Hurdle Jump </span></li>
      <li><span class="text">Belgian Malinois Wall Jump   </span></li>
      <li><span class="text">Belgian Malinois Protection (leg bite)</span></li>
      <li><span class="text">Belgian Malinois Protection (leg bite)</span></li>
    </ul>



    <div class="block-header">
      music video
    </div>
    <div class="title"></div>
    <ul>
      <li><span class="text">K-9 Roxy in MONA music video </span></li>
    </ul>

  </div>
</div>