<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/overview_sidebar', :locals => { :show_links => true } %>
  <div class="content">

    <h2>Dog Training Facility</h2>

    <div class="right">
      <div class="image-border-right">
        <img  src="/assets/rails.png"/>
      </div>

      <p>
        Our state of the art dog training facility is equipped to handle training from the basic obedience level for your pal at home to Federal level law enforcement classes. We have the capability to host events such as schutzhund trials, AKC trials, and competitive police dog competitions. Spanning a combined total of 7.5 acres between our training field and training facility, our resources can support your dog training needs without bound. With a complete walking trail through our wooded area, we are able take your companion on
        calming nature walks while also using the woods for search and rescue training.
      </p>
    </div>


    <div class="left">
      <div class="image-border-left">
        <img  src="/assets/rails.png"/>
      </div>

      <p>
        Our facility is outfitted with a boardwalk, A-frame, hurdle, pause tables, and tunnel (among other training furnishings), providing the complete training experience for you and your dog. With this equipment, we can handle any kind of agility request. A small dog park separate from the large dog park ensures the proper matching of sizes during play and exercise time. Our dog training programs include daily exercise and stimulation activities to keep your pet happy while here.
      </p>
    </div>

    <div class="right">
      <div class="image-border-right">
        <img  src="/assets/rails.png"/>
      </div>

      <p>
        With authorized Pet First Aid instructors for the American Red Cross at the head of the training team, you can rest assured that your companion is in good hands. Janet Grace, DVM with Five Points Animal Hospital, is on call 24/7 to handle any potential emergency.
      </p>
    </div>



  </div>
</div>

