<div class="main">
    <%= render :partial => 'layouts/overview_sidebar', :locals => { :show_links => true } %>
    <div class="content">
        <table>
           <tr>
             <td> Rest assured that our trainers meet the highest qualifications in the United States. We utilize progressive teaching methods that will solve your daily dog obedience problems.
               We will go the extra mile to teach you motivational techniques and methods you can’t find anywhere else in Nashville. Through patience, repetition, and consistency, your dog will
               achieve its highest potential. We will always be available to you for questions, follow up training, and problem solving.
             </td>
             <td></td>
           </tr>
          <tr >
            <td colspan="2" class="video-break-box">WATCH VIDEO: Heel, Heel with Golden Retriever after one week</td>
          </tr>
          <tr>
            <td></td>
            <td>    Our background includes the daily training of Police, Search and Rescue, Detection, and Personal Protection dogs. In service to the community, we voluntarily run government K-9 units, assisting municipalities in Police and Search & Rescue cases at no charge to citizens or government entities. We also provide several demonstrations per month to various schools, pet stores, humane society functions, churches, and more. As authorized instructors for the American Red Cross, we offer Pet First Aid instruction to children undergoing
              Lifesaver Camp, as well as adults interested in learning Pet First Aid in the Middle Tennessee area. We believe that volunteer service is a critical component of giving back to the community and showing our appreciation.</td>
          </tr>
          <tr>
            <td> Our breeding program includes hand-selected, internationally certified canines from Europe, with superior work drive, high energy, tremendous intelligence, and obedience that surpasses our competition. The extra time we spend in Europe testing protection dogs and police dogs ensures the finest quality that trainers in the U.S. seldom offer. You can be confident that we hand pick each, and every dog and we personally guarantee lifetime training with every
              protection dog purchased from us. In the rare occurrence of any problem or conflict, we’ll replace your protection dog with one of equal value.

            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">We are here to help. Insist on a professional. Insist on Nashville K-9™.</td>
          </tr>
        </table>
      </div>
</div>




















