.padTop{
	background-color: none;
    padding-top:40px;
}

.social{
	float:right;
}
.contact-info a{
	color:#333;
}
.contact-info {
	margin-top:-10px;
		margin-left:-8px;
		background:white;
		opacity:.9;
		 font-weight:bold;
		 position:relative;
		border-radius: 2px 2px;
		padding: 10px 20px 10px 10px;
		text-decoration:none !important;
	 line-height: 1.8em;
	}
.contact-column {
		 
		background:#000;
		opacity:.9;
		 
	}
	.greenNavBar li a{
	margin-top:-5px;
	color: #000;
	}
	.greenNavBar li:hover{
		background: #333;
	}
.greenNavBar li {
	background: #2e2e2e;
	color: #586B07;
	border-top:1px solid #eee;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-left:1px solid #eee; 
	height:40px;
	border-radius:3px 3px;
	margin-right:2px;
	
}

.greenNavBar{
	margin-top:-40px;
}
.mask-left {
margin-bottom:-52px; 
margin-left:-19px; 
height: 48px
}
.mask-right {
margin-top:-48px;
float:right;
margin-right:-19px;  
height: 48px
}

.foot{
 background-image: url("../images/footer.png");	
 background-repeat: repeat-x;
  padding-top:20px;
}
.mainText{
	background: #fff;
}
 .footlink a:hover { 
	 color:rgb(90,108,9);
	 font-weight: bold;
	
}
 .footlink { 
	  
	
}
.footlink   a{  
	 
	 color:#2F354F;
}

.lower-main{
    margin-top:60px;
	background-color: none;
}
.facebook-background{
margin-top:-20px;
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 4%, rgba(211,214,167,1) 5%, rgba(246,246,246,1) 100%); /* FF3.6+ */
}
.facebook-header{
	 
	border-radius: 3px 3px 0px 0px; 
	margin-bottom:5px; 
	 
	 
	height:30px;
	width:350px;
	padding:4px 10px 5px 20px; 
	margin-left:10px; 
	 
	position:relative; 
	z-index:9999999;
}  
.facebook-header img{
	padding-right: 10px;
	margin-bottom:-5px;
	}
.tagline{
	 font-weight:bold;
	 font-size:14px;
	 margin-left:-15px;
 }
 
.logo{
    background-image: url("../images/logo.png");		  
	background-repeat: no-repeat;  
	height: 113px;
	width: 185px;
	margin-left:23px;
}

.round-corner{
	 border-radius:0px 0px; 
}
 
.video-box {
	width: 573px;
	height: 334px;
	opacity: 0;
	border-radius:5px 5px;
	-moz-opacity: 0.50;
	filter: alpha(opacity=40);
	background: white;
 }
.video {
	margin-top: -325px;
	 
	position: relative;
	z-index: 900;
	border-radius:5px 5px;
}
.gc-cs-link {

}