/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 280px;
	height: 210px;
}

/* flip speed goes here */
.flipper {
	transition: 0.3s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
    margin:-10px;
    /*border-left:10px solid rgba(0, 0, 0, 0.4);
    border-right:10px solid rgba(0, 0, 0, 0.4);
    border-bottom:10px solid rgba(0, 0, 0, 0.4);
    border-top:20px solid rgba(0, 0, 0, 0.4);*/
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.overlay{
    width: 330px;
	height: 30px;
	opacity: 0.6;
	-moz-opacity: 0.60;
	filter: alpha(opacity=60);
	background: white;
	color:white;
	z-index:0;
}
.overlayText{
    color:black;
    margin-top:-30px;
    position: relative;
    z-index:99999;
    font-weight:bold;
}
.dog-training-programs{
    border-radius:5px 5px;
      background-image: url("../images/training-programs.png");		 
}
.executive-protection{
      border-radius:5px 5px;
      background-image: url("../images/executive-protection.png");		 
}
.detection-dogs{
    border-radius:5px 5px;
      background-image: url("../images/detection-dogs.png");		 
}
.police-dogs{
      border-radius:5px 5px;
      background-image: url("../images/police-dogs.png");		 
}
.search-rescue{
      border-radius:5px 5px;
      background-image: url("../images/search-rescue.png");	
      	 
}
.pet-first-aid{
      border-radius:5px 5px;
     background-image: url("../images/pet-first-aid.png");	
}