
//###########  DOGS   #################
.right-dogs {
  padding-bottom: 50px;
  height: 100%;
  min-height: 240px;
  width: 600px;
  display:inline-block;

  .image-border-right {
    float: right;
    padding-left: 2em;
    margin-top: 20px;
    height: 200px;
    width: 206px;

    background-color: #333;
    .videos-text {
      color: #B8A84F;
      font-weight: bold;
      margin-left: -20px;
    }
    .video {
      color: white;
      text-decoration: none;
      font-weight: normal;
    }
    .photo {
      margin-top: -30px;
      margin-left: -20px;
    }
    img {
      margin-left: -24px;
      border-width: 5px 5px 20px 5px;
      border-style: solid;
      border-color: #352F15;
      width: 220px;
      height: 150px;
    }

     img:hover {
       margin-left: -24px;
       border-width: 5px 5px 20px 5px;
       border-style: solid;
       border-color: #B8A84F;
       width: 220px;
       height: 150px;
     }
  }

  #hovDiv:hover {

  }

  .image-border-right-no-video {
    float: right;
    padding-left: 2em;
    margin-top: 20px;
    height: 170px;
    width: 206px;
    background-color: #333;
    img:hover {
      margin-left: -24px;
      border-width: 5px 5px 20px 5px;
      border-style: solid;
      border-color: #B8A84F;
      width: 220px;
      height: 150px;
    }
    .photo {
      margin-top: -30px;
      margin-left: -20px;
    }
    .no-video {
      margin-left: -24px;
      border-width: 5px 5px 20px 5px;
      border-style: solid;
      border-color: #352F15;
      width: 220px;
      height: 150px;
    }
  }

  ul {
    div.title {
      text-align: left;
      padding: 5px;
      font-size: 18px;
      font-weight: bold;
      color: #B8A84F;
      border-bottom: 1px solid #333;
      margin-left: -40px;
    }

    p {
      margin-left: -40px;
    }

    li.parent {
      list-style-type: square;
      color: #B8A84F;
      margin-left: -20px;
      padding-right: 15px;
      span.text {
        color: #C9C6B7;
      }
    }

    li.child {
      list-style-type: square;
      color: #B8A84F;

      span.text {
        color: #C9C6B7;
      }
    }
  }
}
