.dfsd{

}
//###########  DOGS   #################
.right-dogs {
  padding-bottom: 50px;
  height: 100%;
  min-height: 240px;
  width: 600px;
  display:inline-block;

  .image-border-right {
    float: right;
    padding-left: 2em;
    margin-top: 35px;
    height: 100%;
    width: 186px;
    background-color: #333;
    .count {
      position: absolute;
      margin-bottom:  -60px;
      margin-left: -20px;
      width: 25px;

      padding: 3px;
      background-color:  #352F15;
      color: white;
    }
    .videos-text {
      color: #B8A84F;
      font-weight: bold;
      margin-left: -20px;
    }
    .video {
      color: white;
      text-decoration: none;
      font-weight: normal;
    }
    .photo {
      margin-top: -30px;
      margin-left: -20px;
    }
    img {
      margin-left: -24px;
      border-width: 5px 5px 20px 5px;
      border-style: solid;
      border-color: #352F15;
      width: 107%;
    }

     img:hover {
       margin-left: -24px;
       border-width: 5px 5px 20px 5px;
       border-style: solid;
       border-color: #B8A84F;
       width: 107%;
     }
    .sold {
      float:right;
      height: 21px;
      margin-right: 10px;
      padding-top: 5px;
      margin-top:-32px;
    }
    .soldtable {
      background-color: #25221D;
      height: 17px;
      border: 2px;
      border-style: solid;
      border-color: #352F15;
    }
    .soldtd{
      width: 35px;
      height: 17px;
      padding-left: 5px;
      padding-right: 5px;
      vertical-align: top;
      color: #B8A84F;
      padding-bottom: 4px;
    }
  }

  #hovDiv:hover {

  }

  .image-border-right-no-video {
    float: right;
    padding-left: 2em;
    margin-top: 35px;
    height: 100%;
    width: 186px;

    .count {
      position: absolute;
      margin-bottom:  -60px;
      margin-left: -20px;
      width: 25px;

      padding: 3px;
      background-color:  #352F15;
      color: white;
    }
    .sold {
      float:right;
      height: 21px;
      margin-right: 10px;
      padding-top: 5px;
      margin-top:-32px;
    }
    .soldtable {
      background-color: #25221D;
      height: 17px;
      border: 2px;
      border-style: solid;
      border-color: #352F15;
    }
    .soldtd{
      width: 35px;
      height: 17px;
      padding-left: 5px;
      padding-right: 5px;
      vertical-align: top;
      color: #B8A84F;
      padding-bottom: 4px;
    }
    img:hover {
      margin-left: -24px;
      border-width: 5px 5px 20px 5px;
      border-style: solid;
      border-color: #B8A84F;
      width: 107%;
    }
    .photo {
      margin-top: -30px;
      margin-left: -20px;
    }
    img {
      margin-left: -24px;
      border-width: 5px 5px 20px 5px;
      border-style: solid;
      border-color: #352F15;
      width: 107%;

    }
  }


  .image-border-right-hunting {
    float: right;
    padding-left: 2em;
    margin-top: 15px;
    height: 210px;
    width: 186px;
    background-color: #333;
    display: inline-block;
    .count {
      position: absolute;
      margin-bottom:  -60px;
      margin-left: -20px;
      width: 25px;

      padding: 3px;
      background-color:  #352F15;
      color: white;
    }
    .sold {
      float:right;
      height: 21px;
      margin-right: 10px;
      padding-top: 5px;
      margin-top:-32px;
    }
    .soldtable {
      background-color: #25221D;
      height: 17px;
      border: 2px;
      border-style: solid;
      border-color: #352F15;
    }
    .soldtd{
      width: 35px;
      height: 17px;
      padding-left: 5px;
      padding-right: 5px;
      vertical-align: top;
      color: #B8A84F;
      padding-bottom: 4px;
    }
    img:hover {
      margin-left: -24px;
      border-width: 5px 5px 20px 5px;
      border-style: solid;
      border-color: #B8A84F;
      width: 200px;
      height: 190px;
    }
    .photo {
      margin-top: -30px;
      margin-left: -20px;
    }
    img {
      margin-left: -24px;
      border-width: 5px 5px 20px 5px;
      border-style: solid;
      border-color: #352F15;
      width: 200px;
      height: 190px;
    }
  }

  ul {
    div.title {
      text-align: left;
      padding: 5px;
      font-size: 18px;
      font-weight: bold;
      color: #B8A84F;
      border-bottom: 1px solid #333;
      margin-left: -40px;
    }

    p {
      margin-left: -40px;
    }

    li.parent {
      list-style-type: square;
      color: #B8A84F;
      margin-left: -20px;
      padding-right: 15px;
      span.text {
        color: #C9C6B7;
      }
    }

    li.child {
      list-style-type: square;
      color: #B8A84F;

      span.text {
        color: #C9C6B7;
      }
    }
  }
}
