
.the-gallery {
  height:auto !important;
  width: 640px;

  .the-image-gallery:hover {
    border-width: 5px 5px 25px 5px;
    border-style: solid;
    border-color: #B8A84F;
    cursor: pointer;
  }

  .the-image-gallery {
    display: inline-block;
    border-width: 5px 5px 25px 5px;
    border-style: solid;
    border-color:  #352F15;
    background-size: 100%;
    height: 120px;
    padding: 4px;
    width: 190px;


    .album-title {
      margin-top: 125px;
      width: 170px;
      max-width: 190px;
      height: 20px;
      max-height:20px;
      overflow: hidden;
      position: absolute;
    }

    .count {
      background-color: #352F15;
      width: 25px;

      padding: 3px;
      margin-top: -5px;
      position: absolute;
      margin-left: -5px;
    }
  }

}



.the-image-album {
  height:auto !important;
  width: 640px;

  .the-image-border-album:hover {
    border-width: 5px;
    border-style: solid;
    border-color: #B8A84F;
    width: 90%;
    cursor: pointer;
  }

  .the-image-border-album {
    display: inline-block;
    border-width: 5px;
    border-style: solid;
    border-color:  #352F15;
    background-size: 100%;
    width: 90%;


  }
}


