
.the-image-gallery {
  height: 100%;
  min-height: 206px;
  width: 650px;
  display: inline-block;

  border: 2px solid black;

  .the-image-border-gallery {
     border: 2px solid black;
     float: left;

     height: 100%;
     display: inline-block;

    img:hover {
      border-width: 5px 5px 35px 5px;
      border-style: solid;
      border-color: #B8A84F;
      width: 200px;
      height: 190px;
    }
    .photo {
      margin-top: -36px;
      margin-left: 5px;
      width: 190px;
      line-height: 1em;
      height:24px;
    }
    img {
      border-width: 5px 5px 35px 5px;
      border-style: solid;
      border-color: #352F15;
      width: 200px;
      height: 190px;
      display:inline-block;
    }
    .count {
      position: absolute;
      margin-bottom:  -60px;
      margin-left: 5px;
       width: 25px;

      padding: 3px;
      background-color:  #352F15;
      color: white;
    }
  }
}



.the-image-album {
  height: 100%;
  min-height: 240px;
  width: 620px;
  display: inline-block;
  padding: 5px;
  border: 2px solid black;

  .the-image-border-album {
    border: 2px solid black;
    float: left;
    padding: 5px;
    height: 100%;
    display: inline-block;

    img:hover {
      border-width: 5px 5px 5px 5px;
      border-style: solid;
      border-color: #B8A84F;
      width: 170px;
      height: 130px;
    }
    .photo {
      margin-top: -30px;
      margin-left: 5px;
      width: 173px;

    }


    img {
      border-width: 5px 5px 5px 5px;
      border-style: solid;
      border-color: #352F15;
      width: 170px;
      height: 130px;
      display:inline-block;
    }

  }
}

