
//#########  MEET THE TEAM ###################

p.meet-the-team {
  padding-left: 30px;
}

.right-meet-the-team {
  padding-bottom: 30px;
  min-height: 300px;


  ul {
    div.title {
      width: 270px;
      text-align: left;
      padding: 5px;
      font-size: 18px;
      font-weight: bold;
      color: #B8A84F;
      border-bottom: 1px solid #333;
      margin-left: -20px;
    }

    li {
      list-style-type: square;
      color: #B8A84F;
      span.text {
        color: #C9C6B7;
      }
    }
    h2 {
      margin-left: -20px;
      font-weight: bold;
      text-align: left;
      color: #ffffff;
    }
  }
  .image-border-right {
    float: right;
    padding-left: 2em;

    img {
      border: 5px;
      border-style: solid;
      border-color: #352F15;
      width: 250px;
      height: 100%;
    }
  }
}
//############################