
//##########  TESTIMONIALS  ##################

.right-testimonials {
  padding-bottom: 50px;
  height: 100%;
  min-height: 180px;;
  .image-border-right {
    float: right;
    padding-left: 2em;
    margin-top: -10px;

    img {
      width: 220px;
      height: 200px;
    }
  }
}
//############################