
//###########  TRAINING VIDEOS   #################
div.videos {
  padding: 20px;

  td {
    padding-top: 10px;
    width: 300px;
  }
}

.bordered-promos {
  img {
    border: 5px;
    border-style: solid;
    border-color: #352F15;
    height: 139px;
    width: 220px;
    display: block;
  }

}