<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/overview_sidebar', :locals => { :show_links => true } %>
  <div class="content">
    <img src="/assets/titles/CompanyFacts.png">
    <p>
      Here’s what sets us apart from our competitors: We are Professional K-9 Instructors on various K-9 teams, and experts
        in dog training. We have trained in various K-9 sports across the globe, and competed in several canine trials across
        the U.S. Insist on a REAL Professional. What has your dog trainer done?
    </p>

    <div class="title">Our Biography:  </div>
        <ul>
            <li><span class="text">Davidson County Rescue Squad K-9 Unit, K-9 Unit Director</li>
            <li><span class="text">Overton County Rescue Squad K-9 Unit, K-9 Unit Director</li>
            <li><span class="text">Millersville Police Department, K-9 Unit Director </li>
            <li><span class="text">Livingston Police Department, K-9 Unit Director </li>
            <li><span class="text">S.W.A.T. and S.O.R.T. K-9 School, Knoxville, TN Police Dept. (S.O.S.)   </li>
            <li><span class="text">S.W.A.T. and S.O.R.T. K-9 School, Southaven, MS Police Dept. (S.W.A.T.)   </li>
            <li><span class="text">Canine Tactical School, West Covina, CA Police Dept. (CATS)     </li>
            <li><span class="text">S.W.A.T. and K-9s Interacting During Deployment School, West Covina, CA Police Dept. (SKIDDS)   </li>
            <li><span class="text">K-9 Handler, National Police Canine Association  </li>
            <li><span class="text">K-9 Handler and Pilot, United States Air Force CAP</span></li>
            <li><span class="text">Homeland Security Task Force 4               </li>
            <li><span class="text">Tennessee Association of Rescue Squads, Member   </li>
            <li><span class="text">Police Benevolent Association (PBA), Member – Capitol Hill Chapter  </li>
            <li><span class="text">Tennessee Tactical Officers Association (TTOA K-9), Member      </li>
            <li><span class="text">Fraternal Order of Police, Member                     </li>
            <li><span class="text">National Association for Search and Rescue (NASAR), Member  </li>
            <li><span class="text">Service Dogs of America (SDA K-9), Member </li>
            <li><span class="text">Nashville Working Dogs, A USA Schutzhund Club - Training Director       </li>
            <li><span class="text">TN Valley DVG and USA Schutzhund, Member  </li>
           
            
            <li><span class="text">AKC Certified Evaluator                      </li>
            <li><span class="text">Tennessee Task Force II US&R, former Handler   </li>
            <li><span class="text">Authorized Pet First Aid Insructor, American Red Cross  </li>
            <li><span class="text">Licensed State of TN Police Dog Vendor</li>
        </ul>


    <div class="title">Crossed Trained With: </div>
        <ul>
            <li><span class="text">FEMA Tennessee Urban Search and Rescue (USAR) Task Force 1 </li>
            <li><span class="text">Tennessee Urban Search and Rescue (USAR) Task Force 2   </li>
            <li><span class="text">Tennessee Urban Search and Rescue (USAR) Task Force 3  </li>
            <li><span class="text">Sumner County, TN Emergency Management Agency   </li>
            <li><span class="text">ILL/WIS SAR TEAM (K-9) (Illinois/Wisconsin)   </li>
            <li><span class="text">Service Dogs of America (SDA)            </li>
            <li><span class="text">Marseille France Naval Marins de Pompier ’07 (K-9 SAR, FRANCE)  </li>
           
            <li><span class="text">KPD K-9 Unit             </li>
            <li><span class="text">KPD Special Operations Squad (S.O.S. SWAT)  </li>
         
        </ul>

    <div class="title">Affiliations </div>
        <ul>
            <li><span class="text">USA Schutzhund </li>
            <li><span class="text">National Narcotics Detector Dog Association </li>
            <li><span class="text">National Police Canine Association </li>
            <li><span class="text">Fraternal Order of Police </li>
            <li><span class="text">United Doberman Club </li>
             <li><span class="text">Tennessee Association of Rescue Squads</li>
              <li><span class="text">Police Benevolent Association</li>
               <li><span class="text">The American Kennel Club </li>
        </ul>

    <div class="title">Demonstrations/Classes/Seminars:</div>
        <ul>
            <li><span class="text">1997 Demonstration at Altus Air Force Base Air Show  </li>
            <li><span class="text">2003 Knoxville Univ. of TN Vet School – Schutzhund/ Police Dog Demo  </li>
            <li><span class="text">2005 Dog Day Nashville Humane – Nashville K-9 Police Dog Demo  </li>
            <li><span class="text">2006 Dog Day Nashville Humane – TN-TF2 NFD, Nashville K-9 Police Dog Demo   </li>
            <li><span class="text">2007 THP Nashville, Special OPS    </li>
            <li><span class="text">2008 Dog Day Shelbyville – Nashville K-9 Police Dog Demo   </li>
            <li><span class="text">2009 Pet Smart Cool Springs – Nashville K-9 Police Obedience and Training Demo  </li>
            <li><span class="text">2009 Bost Harley Davidson Nashville, Nashville K-9 Police Dog Demo     </li>
            <li><span class="text">2009 Fila Brasiliero Seminar, Outrageous Shadow Filas, Nashville K-9 Trailing/Tracking/Air Scent Seminar, Rockvale TN  </li>
            <li><span class="text">2009 SuperPetz, Antioch TN – Nashville K-9 Police Dog Demo </li>
            <li><span class="text">2009 Henry Maxwell Elementary School, Career Day K-9 Presentation     </li>
            <li><span class="text">2009 Livingston Academy/Boy Scouts of America, Public Safety K-9 Presentation  </li>
            <li><span class="text">2009, 2010 American Red Cross, Ongoing Pet First Aid Instruction</li>
            <li><span class="text">2009 Dell Computer Corporation, Pet First Aid Presentation  </li>
            <li><span class="text">2009 Dog Day Nashville Humane- Nashville K-9 Police Dog Demo </li>
            <li><span class="text">2009 Dog Day Shelbyville – Nashville K-9 Police Dog Demo   </li>
            <li><span class="text">2009 Life Saver Camp- American Red Cross Nashville, Pet First Aid </li>
            <li><span class="text">2009 MARS Pet Care Corporation/Pedigree, Police Dog Demonstration </li>
            <li><span class="text">2009 Walmart Corporation, Nashville Dog Training & Obedience K-9 Demo  </li>
            <li><span class="text">2009 YMCA Downtown- Barktober, Nashville Dog Training & Obedience K-9 Demo  </li>
            <li><span class="text">2010 The Oasis Center and Rocket Town, Nashville Dog Training & Rescue K-9 Demo  </li>
            <li><span class="text">2010 Our Savior Lutheran Academy, Nashville Dog Training, & Rescue K-9 Demo   </li>
            <li><span class="text">2010 Pet Smart Cool Springs, Nashville Dog Training & K-9 Demo     </li>
            <li><span class="text">2010 St. Edwards Catholic Church, Pet First Aid & K-9 Demo   </li>
            <li><span class="text">2010 Dog Day Nashville- Dog Obedience, Dog Agility, and Dog Protection Demo  </li>
            <li><span class="text">2010 Barktober YMCA Downtown Nashville- Dog Obedience Demo        </li>
            <li><span class="text">2010 MARS Power of Pets Brentwood- Dog Agility and Dog Obedience Demo  </li>
            <li><span class="text">2011 MARS Power of Pets          </li>
            <li><span class="text">2011 YMCA Barktober       </li>
            <li><span class="text">2011 Nashville Humane Association Kids camp  </li>
            <li><span class="text">2011 American Red Cross Kids Lifesaver Camp  </li>
            <li><span class="text">2011 Boy Scouts of America Police Dog Demonstration      </li>
            <li><span class="text">2011 American Red Cross, Ongoing Pet First Aid Instruction     </li>
            <li><span class="text">2011 Fentress County Emergency Day Police K-9 Demonstration    </li>
            <li><span class="text">2011 Dog Day- Nashville Humane Assoc. Police K-9 Demonstration   </li>
            <li><span class="text">2011 Tusculum Elementary Obedience Demonstration          </li>
            <li><span class="text">2012 Tusculum Elementary Dr. Seuss Week             </li>
            <li><span class="text">2012 Girl Scouts of America Search and Rescue Demonstration  </li>
            <li><span class="text">2012 American Red Cross, Ongoing Pet First Aid Instruction   </li>
            <li><span class="text">2012 Critter Camp, Nashville Humane Association            </li>
            <li><span class="text">2012 Camp Vandy, Vanderbilt University Children’s Program </li>
            <li><span class="text">2012 Dog Day, Nashville Humane Association Police K-9 Demonstration </li>
            <li><span class="text">2012 American Red Cross, Donor Support Program- Pet First Aid Demo </li>
            <li><span class="text">2012 Ravenwood High School, Brentwood Career Day Program  </li>
            <li><span class="text">2013 McMurray Middle School, Nashville, TN </span></li>
            <li><span class=”text”>2013 City of Millersville Police K-9 Demonstration </span></li>
            <li><span class=”text”>2013 City of Livingston Police K-9 Demonstration </span></li>

        </ul>
     <div class="title">Deployed:Search & Recovery</div>
        <ul>
           
            <li><span class="text">Fairview, TN Feb ‘08            </li>
            <li><span class="text">Coffee County, TN Missing Persons ‘08  </li>
            <li><span class="text">Franklin, TN Tornadoes Feb ‘08      </li>
            <li><span class="text">2009 Maury County, TN Cadaver Recovery </li>
            <li><span class="text">Pickett County, TN Missing Persons ’09 </li>
            <li><span class="text">Monterey,TN Missing Persons ’09    </li>
            <li><span class="text">Nashville,TN Missing Persons ’09   </li>
            <li><span class="text">Lavergne,TN Missing Persons ’09    </li>
            <li><span class="text">Nashville,TN Flood Bellevue ’10    </li>
            <li><span class="text">Nashville,TN Flood Cadaver Mill’s Creek’10  </li>
            <li><span class="text">2011 Suicidal Person, Nashville, TN    </li>
            <li><span class="text">2012 Overton County Tornadoes   </li>
        </ul>
    <p>
      Several for: K-9 SAR cases with Metro Nashville Emergency Management, TEMA, Maury Cty Sheriff, Tennessee
      Association of Rescue Squads, TWRA, and many local law enforcement and rescue agencies.
    </p>
  </div>
 </div>
