<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/overview_sidebar', :locals => { :show_links => true } %>
  <div class="content">


    <!-- ALI HEMYARI dd-->

    <div class="right-meet-the-team">
      <div class="image-border-right" >
        <img  src="/assets/dog_training_overview/meet_the_team/nashville-dog-trainer-ali.jpg"/>
      </div>
      <ul>
        <h2>Ali Hemyari</h2>

        <div class="title">Position:</div>

            <li><span class="text">Police Officer in the State of Tennessee (K-9)</span></li>
            <li><span class="text">Department of Homeland Security (DHS/FEMA) certified is 100, 200, 700, 800b</span></li>
            <li><span class="text">Airman, Federal Aviation Administration</span></li>
            
            
        <div class="title">Education:</div>

            <li><span class="text">University of Tennessee Knoxville – Marketing/Finance</span></li>
            <li><span class="text">Certified Professional Sales Trainer & Speaker – The Southwestern Company</span> </li>
            <li><span class="text">Federal Licensed Banking Lender </span></li>

        <div class="title">Certifications: </div>

            <li><span class="text">Aircraft Pilot, Federal Aviation Administration </span> </li>
            <li><span class="text">S.W.A.T. K-9 School, Knoxville, TN Police Dept.</span></li>
            <li><span class="text">AKC Certified Evaluator </span> </li>
            <li><span class="text">K-9 Handler, National Police Canine Association  </span> </li>
            <li><span class="text">K-9 Unit Director, Millersville Police Department  </span> </li>
            <li><span class="text">K-9 Unit Director, Livingston Police Department Special Operations </span> </li>
            <li><span class="text">K-9 Unit Director, Davidson County Rescue Squad K-9 Tactical Rescue </span></li>
            <li><span class="text">K-9 Unit Director, Overton County Rescue Squad K-9 Tactical Rescue</span></li>
            <li><span class="text">Canine Tactical School, West Covina, CA Police Dept. (CATS)</span></li>
            <li><span class="text">S.W.A.T. and K-9 Interacting During Deployment School, West Covina, CA Police Dept. (SKIDDS)</span></li>
<li><span class="text">Training Director, Nashville Working Dogs - A USA Schutzhund certified club</span> </li>
            <li><span class="text">Member, Homeland Security Task Force 4</span></li>
            <li><span class="text">EVOC Certified, Berry Hill Police Dept</span></li>
            <li><span class="text">Trained- Collapse, Confined Space, and Trench Rescue, Nashville Fire Dept.</span></li>
            <li><span class="text">Trained, cadaver water dragging</span></li>
            <li><span class="text">CPR for the professional rescuer</span></li>
            <li><span class="text">First Aid for the professional rescuer</span></li>
            <li><span class="text">AED for the professional rescuer</span></li>
            <li><span class="text">Authorized Pet First Aid Instructor, American Red Cross</span></li>
            <li><span class="text">Licensed State of TN Police Dog Vendor</span></li>

        <div class="title">Member of: </div>

            <li><span class="text">Member, PBA Police Capitol Hill Chapter</span></li>
            <li><span class="text">Member, Fraternal Order of Police</span></li>
            <li><span class="text">Member, Tennessee Tactical Officers Association</span></li>
            <li><span class="text">Member, Nashville K-9 DVG Schutzhund</span></li>
            <li><span class="text">Member, TN Valley Working Dogs</span></li>
            <li><span class="text">Member, TN Association of Rescue Squads</span></li>
            <li><span class="text">Member, Service Dogs of America (SDA)</span></li>
            <li><span class="text">Member, National Association for Search and Rescue (NASAR</span>)</li>
            <li><span class="text">Member, National Narcotics Detector Dog Association (NNDDA</span>)</li>

      </ul>
      <p class="meet-the-team">
        Ali Hemyari is the only civilian K-9 trainer in the state of Tennessee that has completed and graduated a police mandated S.W.A.T. K-9 School that is recognized by the National Tactical Officers’ Association (NTOA K-9). As a tenured Police Officer, he commands two Police Department K-9 teams and two Rescue Rquad K-9 teams with a total of 16 handlers under his direction at no charge to tax payers. His vast experience and knowledge comes from the discipline of a Schutzhund and KNPV background with the integration of government K-9 applications. He has trained all across the United States with various dogs stemming from small Chihuahuas to large Mastiffs. His participation in several Trials and Trainings across the world has led him to be considered one of the best trainers in the Southeast United States and his affiliations quench his thirst for ongoing knowledge and learning. Ali is a certified AKC Evaluator.
      </p>
    </div>





     <!-- DAMON -->
    <div class="right-meet-the-team">
      <div class="image-border-right" >
        <img  src="/assets/dog_training_overview/meet_the_team/nashville-dog-trainer-damon.jpg"/>
      </div>
      <ul>
        <h2>Damon McCook </h2>

        <div class="title">Position:</div>

        <li><span class="text">General Manager</span></li>

            <li><span class="text"> Combat Engineer, United States Marine Corps 1999-2003 </li>
            <li><span class="text"> Jungle Warfare, 2000</li>
            <li><span class="text">  Marine Corps Rifle Instructor 2000</li>
            <li><span class="text">  Sappers School 2001</li>
            <li><span class="text"> Non-Lethal weapons/Riot Control 2002</li>
            <li><span class="text"> Cold Weather Training 2002</li>
            <li><span class="text"> Operation Enduring Freedom 2002</li>
            <li><span class="text"> Operation Iraqi Freedom 2003</li>

      </ul>
    </div>




    <!-- JOHN POLAND -->

    <div class="right-meet-the-team">
      <div class="image-border-right" >
        <img  src="/assets/dog_training_overview/meet_the_team/nashville-dog-trainer-john.jpg"/>
      </div>
      <ul>
        <h2>John Poland</h2>

        <div class="title">Position:</div>

            <li><span class="text">Obedience Trainer, Decoy, Helper</span></li>
            <li><span class="text">Department of Homeland Security (DHS/FEMA) certified is 100, 200, 700, 800b</span></li>
            <li><span class="text">K-9 Mazda (Labrador Retreiver, Black), SAR Wilderness Trailing</span></li>

        <div class="title">Education:</div>

            <li><span class="text">University of Tennessee 2005</span></li>
            <li><span class="text">Originally From: Kingston, Tn</span> </li>
            <li><span class="text">Federal Licensed Banking Lender </span></li>
            <li><span class="text">Authorized Pet First Aid Instructor,  American Red Cross </span></li>

        <div class="title">Member of: </div>

            <li><span class="text">Member, Davidson County Rescue Squad K-9 SAR</span></li>
            <li><span class="text">Member, Overton County Rescue Squad K-9 SAR</span></li>
            <li><span class="text">Member, Tennessee Association of Rescue Squads</span></li>
            <li><span class="text">President, Nashville K-9 DVG Schutzhund</span></li>
            <li><span class="text">Member, Homeland Security Task Force 4</span></li>

      </ul>
      <p class="meet-the-team">
        Favorite Breeds: Labrador Retriever and Belgian Malinois. Mazda was rescued in June 2006. She was a little rough
        around the edges but since then has become an excellent companion. She is excellent around all individuals especially
        children. She loves to go to training and the dog park and is very affectionate enjoying all dogs as friends. She is
        more inquisitive than intrusive, she loves to roam through plastic bags or purses. She also loves going to Nursing homes
        to visit and spend time with those who do not always have visitors. If you would like to see Mazda come out to the dog park
        or training and she would love to have you pet her.
      </p>
    </div>






    <!-- JESSICA BABA -->

    <div class="right-meet-the-team">
      <div class="image-border-right" >
        <img  src="/assets/dog_training_overview/meet_the_team/nashville-dog-trainer-jessica.jpg"/>
      </div>
      <ul>
        <h2>Jessica Baba</h2>

        <div class="title">Position:</div>

            <li><span class="text">K-9 Handler, Denia (black/tan GSD, Air Scent Live Find, Area/Wilderness)</span></li>
            <li><span class="text">Department of Homeland Security (DHS/FEMA) certified is 100, 200, 700, 800b</span></li>
            <li><span class="text">German Shepherd SAR and US&R/ obedience trainer</span></li>

        <div class="title">Education:</div>

            <li><span class="text">University of California at Berkeley 2003</span></li>
            <li><span class="text">CA Dept. of Justice, Office of the AG</span> </li>
            <li><span class="text">Naval Criminal Investigative Service (NCIS) Cold Case Homicide Unit </span></li>
            <li><span class="text">University of San Diego School of Law 2006 </span></li>
            <li><span class="text">San Diego City Attorney’s Office</span></li>
            <li><span class="text">Naval Legal Service Office (NLSO)</span></li>
            <li><span class="text">Licensed to practice law in Tennessee </span></li>

        <div class="title">Member of: </div>

            <li><span class="text">Member, Davidson County Rescue Squad K-9 SAR</span></li>
            <li><span class="text">Member, Overton County Rescue Squad K-9 SAR</span></li>
            <li><span class="text">Member, Tennessee Association of Rescue Squads</span></li>
            <li><span class="text">President, Nashville K-9 DVG Schutzhund</span></li>
            <li><span class="text">Member, Homeland Security Task Force 4</span></li>

      </ul>

    </div>





    <!-- NICK WOLKONSKY -->

    <div class="right-meet-the-team">
      <div class="image-border-right" >
        <img  src="/assets/dog_training_overview/meet_the_team/nashville-dog-trainer-nick.jpg"/>
      </div>
      <ul>
        <h2>Nick Wolkonsky</h2>

        <div class="title">Position:</div>

            <li><span class="text">K-9 Handler</span></li>
            <li><span class="text">Law Enforcement Officer in the State of Tennessee</span></li>
            <li><span class="text">Emma, Doberman Pinscher, Obedience</span></li>

        <div class="title">Department of Homeland Security Ceritifications:</div>

            <li><span class="text">Introduction To Hazardous Materials Response</span></li>
            <li><span class="text">Basic Incident Command System IS-200</span></li>
            <li><span class="text">National Response Plan (NRP), IS-800.A </span></li>
            <li><span class="text">National Incident Management System (NIMS), IS-700</span></li>
            <li><span class="text">Incident Command System IS-100</span></li>
            <li><span class="text">Hazardous Materials Response</span></li>
            <li><span class="text">FBI, TBI, Homeland Security, Metro Police clearances</span></li>

        <div class="title">Certifications:   </div>

            <li><span class="text">Nashville Dog Training Club Level 3 Obedience Training</span></li>
            <li><span class="text">Trained, cadaver water dragging</span></li>
            <li><span class="text">AKC Canine Good Citizenship (CGC)Certification </span></li>

        <div class="title">Member Of:  </div>

            <li><span class="text">Member, Davidson County Rescue Squad K-9 SAR  </span></li>
            <li><span class="text">Member, Overton County Rescue Squad K-9 SAR </span></li>
            <li><span class="text">K-9 Handler, Livingston Police Department  </span></li>
            <li><span class="text">Member, Tennessee Association of Rescue Squads    </span></li>
            <li><span class="text">Board Member Doberman Club of Nashville  </span></li>
            <li><span class="text">Member Nashville Dog Training club  </span></li>
            <li><span class="text">Member IAADP (International Assoc. of Assistance Dog Partners)  </span></li>
            <li><span class="text">Member, Homeland Security Task Force 4  </span></li>
            <li><span class="text">Authorized Pet First Aid Instructor, American Red Cross  </span></li>
            <li><span class="text">Member, National Association for Search and Rescue (NASAR)   </span></li>
      </ul>

    </div>






    <!-- SANDY POPE -->

    <div class="right-meet-the-team">
      <div class="image-border-right" >
        <img  src="/assets/dog_training_overview/meet_the_team/nashville-dog-trainer-sandy.jpg"/>
      </div>
      <ul>
        <h2>Sandy Pope</h2>

        <div class="title">Position:</div>

            <li><span class="text">Mentor</span></li>
            <li><span class="text">TN Valley DVG Schutzhund Secretary</span></li>


        <div class="title">Member of: </div>

            <li><span class="text">Member, United Schutzhund Clubs of America</span></li>
            <li><span class="text">Member, United Doberman Club</span></li>
            <li><span class="text">Member, Tennessee Valley Working Dogs</span></li>
            <li><span class="text">President, Nashville K-9 DVG Schutzhund</span></li>
            <li><span class="text">Member, Homeland Security Task Force 4</span></li>

      </ul>
      <p class="meet-the-team">
        Sandy Pope is an expert on the Doberman Pinscher breed. Her dream is to re-establish the respectful reputation
        that is due the Doberman and return them to the services which they have been bred for. She has bred, raised,
        and trained dogs for over 25 years and competes in regional schutzhund trials all across the United States. She
        has completed several Schutzhund titles, including titling to ScH 3 from a puppy.
      </p>
    </div>







    <!-- JOEY LEIGH -->

    <div class="right-meet-the-team">
      <div class="image-border-right" >
        <img  src="/assets/dog_training_overview/meet_the_team/nashville-dog-trainer-joey.jpg"/>
      </div>
      <ul>
        <h2>Joey Leigh</h2>
        <div class="title">Position:</div>
        <li><span class="text">Schutzhund Mentor</span></li>
      </ul>
      <p class="meet-the-team">
        Joey is a schutzhund trainer. He has helped schutzhund competitors and helpers become stronger and faster. On occasion, we bring Joey to help with seminars and demonstrations.
      </p>
    </div>




    <!-- ARTHUR

    <div class="right-meet-the-team">
      <div class="image-border-right" >
        <img  src="/assets/dog_training_overview/meet_the_team/nashville-dog-trainer-arthur.jpg"/>
      </div>
      <ul>
        <h2>Arthur Cragg</h2>
        <div class="title">Position:</div>
        <li><span class="text">Kennel Manager</span></li>
      </ul>
      <p class="meet-the-team">
        Arthur is a young, new contributor to the family here at Nashville K-9. Helping with training and learning all
        that he can, he oversees the boarding and grooming of dogs, while managing the upkeep of the facility.
        Arthur is a dog lover born and raised in Nashville and a Brentwood High graduate.
      </p>
    </div>
    -->

  </div>
</div>
