<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/overview_sidebar', :locals => { :show_links => true } %>
  <div class="content">
    <img src="/assets/titles/Partners.png">
    <table style="background-color: white; width: 610px; border: 5px; border-style: solid; border-color: #352f15;" >
          <tbody>


      <tr style="border-bottom: 1px; border-color: #333333; border-style: solid;">
        <td style="padding: 20px;text-align: center;"><img src="/assets/partners/Logonopets.jpg" alt="" height="100" align="middle" /></td>
        <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center;"><a style="color: black;" href="http://www.mysecondhome.com">My Second Home Pet Resort</a></td>


      </tr>
          <tr>
            <td style="padding: 20px; text-align: center;"><img src="/assets/partners/NHA.jpg" alt="" height="100" align="middle" /></td>
            <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center;"><a style="color: black;" href="http://nashvillehumane.org">Nashville Humane Association</a></td>

          </tr>

      <tr>
        <td style="padding: 20px;text-align: center;"><img src="/assets/partners/5points.jpg" alt="" height="100" align="middle" /></td>
        <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center;"><a style="color: black;" href="http://5pointsanimalhospital.net">5 Points Animal Hospital</a></td>

      </tr>
      <tr>
        <td style="padding: 20px;text-align: center;"><img src="/assets/partners/pfa.jpg" alt="" height="100" align="middle" /></td>
        <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center;"><a style="color: black;" href="http://nashredcross.org">American Red Cross</a></td>

      </tr>
      <tr>
        <td style="padding: 20px;text-align: center;"><img src="/assets/partners/dupont.png" alt="" height="100" align="middle" /></td>
        <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center;"><a style="color: black;" href="http://dupontregistry.com">duPont Registry</a></td>

      </tr>
      <tr>
        <td style="padding: 20px;text-align: center;"><img src="/assets/partners/defender.jpg" alt="" height="100" align="middle" /></td>
        <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center;"><a style="color: black;" href="http://defendersupply.com">Defender Supply</a></td>

      </tr>
      <tr>
        <td style="padding: 20px;text-align: center;"><img src="/assets/partners/parkers-paws.jpg" alt="" height="100" align="middle" /></td>
        <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center;"><a style="color: black;" href="http://parkerspaws.net/">Parkers Paws Animal Hospital</a></td>

      </tr>

      <tr>
        <td style="padding: 20px;text-align: center;"><img src="/assets/partners/Belmontahlogo.jpg" alt="" height="100" align="middle" /></td>
        <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center;"><a style="color: black;" href="http://belmontanimalhospital.com/">Belmont Animal Hospital</a></td>

      </tr>

      <tr>
        <td style="padding: 20px;text-align: center;"><img src="/assets/partners/misskitty.png" alt="" height="100" align="middle" /></td>
        <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center;"><a style="color: black;" href="http://Misskittysnashville.com/">Miss Kitty's</a></td>

      </tr>
       </tbody>
    </table>
  </div>
</div>