<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/overview_sidebar', :locals => { :show_links => true } %>
  <div class="content">
    <h2>Our Partners</h2>
    <table style="background-color: white; width: 540px; border: 5px; border-style: solid; border-color: #352f15;" >
          <tbody>
      <tr style="border-bottom: 1px; border-color: #333333; border-style: solid;">
        <td style="padding: 20px;"><img src="/assets/partners/SDA_logoPaintWhite.jpg" alt="" align="middle" /></td>
        <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center;"><a style="color:black" href="http://www.servicedogsofamerica.com">Service Dogs of America</a></td>
      </tr>
      <tr style="border-bottom: 1px; border-color: #333333; border-style: solid;">
        <td style="padding: 20px;">
          <img src="/assets/partners/NASAR.jpg" alt="NASAR" align="middle" /></td>
        <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center;">
          <a style="color: black;" href="http://www.nasar.org">National Association for Search and Rescue</a></td>
      </tr>
      <tr style="border-bottom: 1px; border-color: #333333; border-style: solid;">
        <td style="padding: 20px;"><img src="/assets/partners/TTOC.jpg" alt="Tennessee Tactical Officers" align="middle" /></td>
        <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center; color: black;">Tennessee Tactical Officers</td>
      </tr>
      <tr style="border-bottom: 1px; border-color: #333333; border-style: solid;">
        <td style="padding: 20px;"><img src="/assets/partners/sspba.jpg" alt="PBA" align="middle" /></td>
        <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center;"><a style="color: black;" href="http://www.sspba.org">PBA</a></td>
      </tr>
      <tr style="border-bottom: 1px; border-color: #333333; border-style: solid;">
        <td style="padding: 20px;"><img src="/assets/partners/news2logo.jpg" alt="" height="100" align="middle" /></td>
        <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center;"><a style="color: black;" href="http://www.wkrn.com">WKRN &#8211; News Channel 2</a></td>
      </tr>
      <tr style="border-bottom: 1px; border-color: #333333; border-style: solid;">
        <td style="padding: 20px;"><img src="/assets/partners/hillview.jpg" alt="" height="100" align="middle" /></td>
        <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center;"><a style="color: black;" href="http://www.hillviewkennels.com">Hillview Kennels</a></td>
      </tr>
      <tr style="border-bottom: 1px; border-color: #333333; border-style: solid;">
        <td style="padding: 20px;"><img src="/assets/partners/misskitty.png" alt="" height="100" align="middle" /></td>
        <td style="vertical-align: top; padding-top: 50px; padding-right: 20px; font-size: 22px; text-align: center;"><a style="color: black;" href="http://www.misskittys.com">Miss Kitty&#8217;s Bed &amp; Bath</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>