<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/services_sidebar', :locals => { :show_links => true } %>
  <div class="content">

    <h2>Nashville Working Dogs</h2>

    <div >
      <img style="border: 5px solid  #352F15; " src="/assets/dog_training_services/working_dogs/nashville-working-dog.jpg" width="600px"/>
    </div>
    <div class="right">
      <div class="image-border-right">
        <img  src="/assets/dog_training_services/working_dogs/micahmain.jpg"/>
      </div>

      <p>
        Nashville Working Dogs is a fully certified USA Schutzhund Club, but also cross trains in PSA, Ring Sport, and Police/Military. With certified helpers, our club boasts some of the top instructors in the nation. This club is open to all working dogs, including police and military, and all working breeds.
      </p>
    </div>


    <div class="left">
      <div class="image-border-left">
        <img  src="/assets/dog_training_services/working_dogs/Nashville K-9 Field.jpg"/>
      </div>

      <p>
        The club is organized to further training for competitions and trials. Each active member’s dues are paid quarterly with consistent attendance throughout the duration of allocated times. There will be no monies collected for helper work or additional instruction. As a member, each person is expected to help others succeed. </span>
      </p>
    </div>


    <div class="right">
      <div class="image-border-right">
        <img  src="/assets/dog_training_services/working_dogs/1.bmp"/>
      </div>

      <p>
        Nashville Working Dogs is limited to fifteen members. All are expected to compete in trials and work toward a goal for their dog(s). The club’s purpose is to promote the working dog and all it has to offer.

      </p>
      <p>
        All candidates are welcome to attend a training. If interested, please contact us.
      </p>
    </div>



  </div>
</div>