<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/contact_sidebar', :locals => { :show_links => true } %>
  <div class="content">
    <img src="/assets/titles/Insist.png">
    <div class="contact-us">
        <p><%= @user.name %>,</p>
        <p>Thank you for submitting your information.  We will be contacting you shortly.</p>

    </div>
  </div>
</div>