

<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/services_sidebar', :locals => { :show_links => true } %>
  <div class="content">

    <h2>K-9 Training Programs</h2>

    <div class="right">
      <div class="image-border-right">
        <img  src="/assets/rails.png"/>
      </div>

      <p>
        Nashville K-9 is here to help schools, businesses, or personal homes with confidential narcotic searches. Our specially trained detection narcotic dogs will alert to the presence of old or new odors. They will not damage the interior of your home or business. They are child-safe and will ignore other animals.
        Each narcotics/drug search can take a minimum of one hour to several hours, based on your needs.

        CLICK PHOTO TO VIEW GALLERY
        We can arrive with multiple dogs, or just one, based on your preference and need. We will also be available to educate your children on the dangers of using narcotics and the consequences of doing so.
        Our searches are 100% confidential and will remain client privileged. Nashville K-9 is certified by the State of Tennessee.
      </p>
    </div>

    </div>
</div>






  </div>
</div>
