<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/services_sidebar', :locals => { :show_links => true } %>
  <div class="content">

    <img src="/assets/titles/ExecutiveProtection.png">

    <div class="right">
      <div class="image-border-right">
        <img  src="/assets/dog_training_services/executive_protection_dogs/guard-dog-roxy.jpg"/>
      </div>
      <p>
        With three main levels of protection, we can match the appropriate level of security based on your lifestyle needs.
        Each hand-selected protection dog undergoes an immense amount of training, imprinting based on real world
        situations, and meticulous health screenings. They will be prepared for your specific needs to provide a sense
        of security for your family and home.   Every dog will have its hips, elbows, eyes, and health certified,
        DNA tests conducted, and will have been approved by a panel of judges for the highest breeding
        standards (KKL1). We will provide you with documents certifying your dog’s health, X-Rays, vaccination records,
        and all certification or titling paperwork.
      </p>
    </div>

    <p class="video-break-box">
      <span class="title">WATCH VIDEO:</span>
      <a class="video"  title="" href="http://player.vimeo.com/video/22271252?fs=1&amp;autoplay=1">
        Nashville K-9 Protection Dogs
      </a>,
      <a class="video"  title="" href="http://player.vimeo.com/video/12895482?fs=1&amp;autoplay=1">
        Belgian Malinois – Leg Bite
      </a>,
      <a class="video"  title="" href="http://player.vimeo.com/video/12878568?fs=1&amp;autoplay=1">
        Belgian Malinois -Long Bite
      </a>,
      <a class="video"  title="" href="http://player.vimeo.com/video/24427335?fs=1&amp;autoplay=1">
        Overall
      </a>,
      <a class="video"  title="" href="http://player.vimeo.com/video/23885197?fs=1&amp;autoplay=1">
        Running
      </a>,
      <a class="video"  title="" href="http://player.vimeo.com/video/23885159?fs=1&amp;autoplay=1">
        Home
      </a>,
      <a class="video"  title="" href="http://player.vimeo.com/video/23885094?fs=1&amp;autoplay=1">
        Coffee
      </a>,
      <a class="video"  title="" href="http://player.vimeo.com/video/23885064?fs=1&amp;autoplay=1">
        ATM
      </a>
    </p>

    <div class="left">
      <div class="image-border-left">
        <img  style="height: 300px;"  src="/assets/dog_training_services/executive_protection_dogs/guard-dog-cowboy.jpg"/>
      </div>
      <div class="right">
        <img   src="/assets/dog_training_services/executive_protection_dogs/guard-dogs-micah.jpg"/>
      </div>
      <p>
        We will place you in a two day course of instruction at your home or place of business to teach you how to properly use your protection dog, create good habits, and the care of your new family member.
        This helps integrate your dog with current family members and pets and teach everyone the correct way to enjoy this special companion. We guarantee training for the life of your dog.
      </p>
    </div>

  </div>
</div>