<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/services_sidebar', :locals => { :show_links => true } %>
  <div class="content">

    <h2>Hunting Dogs</h2>

    <div class="title">
      Basic Retriever Training
    </div>
    <div class="right-training-programs">
      <div class="image-border-right">
        <img   src="/assets/dog_training_services/hunting_dogs/hunting-dog-big-catch.jpg"/>
      </div>

      <p>
        A dog that completes our basic retriever training program will be a dog that will be a productive partner in the field. This dog should be capable of quartering for the gun in the uplands, proficient at trailing cripples, and should deliver game to your hand without delay. This dog should be capable of marking and retrieving single birds down for the duck hunter. In addition he/she should be obedience trained and obey the commands Sit, Kennel, Here, Quiet, Down, and Leave It.

        The dog will be properly introduced to the electronic collar during obedience training and will accordingly obey commands quickly, but at the same time retain a good working attitude. This level of training usually takes 3-4 months to complete, depending on the dogs natural ability.

      </p>

    </div>

    <div class="title">
      Intermediate Retriever Training (Seasoned-UKC), (Senior-AKC)
    </div>
    <div class="right-training-programs">
      <div class="image-border-right">

      </div>

      <p>
        Retriever breeds are eligible for our Advanced Retriever Training Program upon completion of our Basic Retriever Program. A dog at this level should be capable of completing double retrieves on land and water and should be fully steady. At this time handling and lining drills are introduced, as well as more advanced marking concepts. Dogs that complete this program will be able to run simple cold blinds and compete in mid level UKC and AKC hunt tests. If the dog is to be used for upland hunting, steady to flush and shot can also be completed at this point. A dog that completes this level of training is a true hunting companion and is a dog that anyone would be proud to own. This training usually takes 4-6 months to complete.
      </p>

    </div>


    <div class="title">
      Advanced Retriever Training (Finished-UKC), (Master-AKC), (QAA)
    </div>
    <div class="right-training-programs">
      <div class="image-border-right">

      </div>

      <p>
        A dog that completes this program is an elite hunting machine. This dog has all of the skills of an intermediate retriever plus the ability to complete complicated triple marks, blinds with hazards and poison birds, honoring, and advanced water concepts. This dog should also be steady to flush and shot in the uplands and be adept at trailing cripples. Dogs that complete this program are usually 2-3 years of age and would compete in the Finished/Master/QAA level. Not all dogs have the natural skills to complete this level of training. Total training time required to achieve this level of performance is usually 12-18 months. Dogs at this level should possess exceptional intelligence, bidability, drive, and water attitude.
      </p>

    </div>

    <table style="line-height: 2em;">
      <tr>
        <td style="width:100px; font-weight: bold;">Level 1</td>
        <td>Introduced to birds, water, decoys, play retrieving</td>
      </tr>
      <tr>
        <td style="width:100px; font-weight: bold;">Level 2</td>
        <td>Introduced to gunfire, collar conditioned, basic obedience, simple single retrieves on land/water, quartering to the gun</td>
      </tr>
      <tr>
        <td style="width:100px; font-weight: bold;">Level 3</td>
        <td>Force fetch</td>
      </tr>
      <tr>
        <td style="width:100px; font-weight: bold;">Level 4</td>
        <td>Line steady, Doubles on land/water, line steady, pile work, double T, swim by, simple cold blind retrieves</td>
      </tr>
      <tr>
        <td style="width:100px; font-weight: bold;">Level 5</td>
        <td>Triples on land/water, advanced handling drills, complex marking scenarios, Master level blind retrieves</td>
      </tr>
    </table>
  </div>
</div>