<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/services_sidebar', :locals => { :show_links => true } %>
  <div class="content">

    <h2>Intensity.Progress.Perfection</h2>

    <div class="right">
      <div class="image-border-right">
        <img  src="/assets/rails.png"/>
      </div>

      <p>
        We offer a multitude of dog training programs from basic obedience to advanced dog agility and tracking. Our method of training relies on the dog’s willingness to comply for reward versus negative compulsion or force. Patience, high energy, and fun will bring a whole new level of training compared to what you have experienced in the past.
        With this in mind, it is our firm belief that optimal training is best accomplished in a private setting. In group training sessions, your dog will spend more time paying attention to other dogs instead of you. So, we’ve put together a Train the Trainer™ package where we will personally teach you, one on one, how to train your dog. You’ll then be armed with an arsenal of tools to practice what you’ve learned at home. We will gradually increase the level each time we meet. This process is fun and exciting for both you and your dog!
      </p>
    </div>


    <div class="left">
      <div class="image-border-left">
        <img  src="/assets/rails.png"/>
      </div>

      <p>
        For Police K-9, Fire, SAR, or Office of Emergency Management training, we can provide custom K-9 seminars teaching everything from scent detection to S.W.A.T. methods. We are the only civilian trainers certified in S.W.A.T/S.R.T. by the National Tactical Officer’s Association standards in the State of Tennessee. We are also the only civilian K-9 instructors certified by the State of Tennessee in Narcotics detection in Nashville. Our passion is to change the old, traditional training methods
        and create new, progressive methods. This is the basis of our working relationship with several municipalities. We will increase your potential and decrease liability.
      </p>
    </div>

  </div>
</div>