
<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/services_sidebar', :locals => { :show_links => true } %>
  <div class="content">

    <img src="/assets/titles/TrainingPrograms.png">

    <div class="right">
      <div class="image-border-right">
        <img  src="/assets/dog_training_services/dog_training_programs/dog-training-programs-1.jpg"/>
      </div>

      <p>
        Our dog trainers have extensive experience with rescues, strays, and other dogs who may have faced challenges early in life. We are one of Tennessee’s premier facilities for obedience training and behavior problem management. We offer on-leash and off-leash training programs to fit your lifestyle and canine companion. Puppies and senior dogs alike are welcome.
        Our dog behavior management programs address problems such as housetraining, aggression, shyness, hyperactivity, and more. Our programs are designed to help you communicate effectively with your pet and integrate him or her into your family’s daily routine. They also address basic obedience commands such as sit, down, stay, come, and heel, and how to use these commands to your advantage whether at home or on a walk.
        The off-leash program allows a greater level of control. Whether on walks, hiking in the mountains, or just strolling your property, you (and your dog) feel freer without a leash, allowing for more exercise and a happier pet.
      </p>
    </div>

    <p class="video-break-box">
      <span class="title">WATCH VIDEO:</span>
      <a class="video"  title="" href="http://player.vimeo.com/video/12877596?fs=1&amp;autoplay=1">
        Dog Heel and Dog Reward
      </a>,
      <a class="video"  title="" href="http://player.vimeo.com/video/12878427?fs=1&amp;autoplay=1">
        Dog Long Jump
      </a>,
      <a class="video"  title="" href="http://player.vimeo.com/video/12878501?fs=1&amp;autoplay=1">
        Dog Long Jump 2
      </a>,
      <a class="video"  title="" href="http://player.vimeo.com/video/12877744?fs=1&amp;autoplay=1">
        Dog Agility and Dog Ball Training
      </a>,
      <a class="video"  title="" href="http://player.vimeo.com/video/12878712?fs=1&amp;autoplay=1">
        Dog Heel – Dog Long Sit – Dog Recall
      </a>
    </p>

    <div class="title">
      Train The Trainer
    </div>
    <div class="programs">
      <div class="image-border-right">
        <img  src="/assets/dog_training_services/dog_training_programs/dog-training-programs-2.jpg"/>
      </div>

      <p>
        Our Train the Trainer™ program is a custom tailored, one-on-one training session that trains you to train your dog. You’ll meet with one of our training experts who will teach you motivating and high energy methods of training that will take you to the next level. Our program works through advanced dog obedience and dog agility and is suitable for puppies and older dogs of any age. Each session lasts a 1.5 hour maximum, depending on the dog. This is open to the public and will help you put the right paw forward!
      </p>
    </div>


    <div class="title">
      Board & Train – Leave your dog with us and let us do all the hard work!
    </div>
    <div class="programs">
      <div class="image-border-right">
        <img  src="/assets/dog_training_services/dog_training_programs/dog-training-programs-3.jpg"/>
      </div>

      <ul>

        <p>
          Two week Board and Train: (For dogs aged 4 months and up). Drop your dog off with us for our two week elite board and train program. Here’s what’s included:
        </p>

          <li><span class="text"> Sit  </span></li>
          <li><span class="text"> Down </span></li>
          <li><span class="text"> Long Sit  </span></li>
          <li><span class="text"> Long Down  </span></li>
          <li><span class="text"> Heel on leash   </span></li>
          <li><span class="text"> Come when called   </span></li>
          <li><span class="text"> Crate training </span></li>
          <li><span class="text"> Basic house manners </span></li>
          <li><span class="text"> Exercise five times daily on our training field      </span></li>
          <li><span class="text"> Pictures emailed to you every four days showing training progression and exercise time  </span></li>
          <li><span class="text"> 1-1.5 hour handler course teaching you basic and advanced training techniques we used training your pal </span></li>
          <li><span class="text"> A written routine to follow to help ease the transition back into your home  </span></li>

      </ul>

      <p>
        Our Board and Train program includes daily training three times/day, behavioral training twice/day, and exercise five times/day.
      </p>
    </div>



    <div class="title">
      Four Week Board & Train
    </div>
    <div class="programs">
      <div class="image-border-right">
        <img  src="/assets/dog_training_services/dog_training_programs/dog-training-programs-4.jpg"/>
      </div>
      <ul>


        <li><span class="text">  Sit </span></li>
        <li><span class="text">  Down </span></li>
        <li><span class="text">  Long Sit (Sit stays for over 30 ft)  </span></li>
        <li><span class="text">  Long Down (Down stays for over 30 ft) </span></li>
        <li><span class="text">  Off-leash heel  </span></li>
        <li><span class="text">  On-leash heel  </span></li>
        <li><span class="text">  Come when called  </span></li>
        <li><span class="text">  Introduction to agility or search and rescue  </span></li>
        <li><span class="text">  Crate training  </span></li>
        <li><span class="text">  Basic house manners  </span></li>
        <li><span class="text">  Exercise five times daily on our dog training field  </span></li>
        <li><span class="text">  Pictures emailed to you every four days showing training progression and exercise time   </span></li>
        <li><span class="text">  1-1.5 hour handler course teaching you basic and advanced dog training techniques we used training your pal </span></li>
        <li><span class="text">  A written routine to follow to help ease the transition back into your home  </span></li>
        Our Board and Train program includes daily training three times/day, behavioral training twice/day, and exercise five times/day.  </span></li>
        </li>
      </ul>

    </div>



    <div class="title">
      Competition or Trial Training
    </div>
    <div class="programs">
      <div class="image-border-right">
        <img  src="/assets/dog_training_services/dog_training_programs/dog-training-programs-5.jpg"/>
      </div>

      <p>
        Schutzhund, Police K-9, AKC Agility, Ring- French or Mondio, S.W.A.T. K-9, etc.
        We have a lifetime training guarantee for each board and train dog* and all phone troubleshooting is also included in each package.
        *Each dog must be continuously trained by the owner upon departure on average of four times/week, after the handler course.
      </p>
    </div>






    <p>
    <span style="font-family: Rockwell; font-size: 16px; font-weight: bold;  color: #B8A84F;">ASK US ABOUT OUR AKC CANINE GOOD CITIZEN PROGRAM!</span>
    </p>


  </div>
</div>
