
<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/services_sidebar', :locals => { :show_links => true } %>
  <div class="content">

    <img src="/assets/titles/PoliceServiceDogs.png">

    <div class="title">
      Our Police K-9 Program covers training in the following areas:
    </div>
    <div class="right-training-programs">
      <div class="image-border-right">
        <img  src="/assets/dog_training_services/police_dogs/police-protection-dog-1.jpg"/>
      </div>
      <ul>
        <li><span class="text"> Dog obedience and practical dog agility  </span></li>
        <li><span class="text"> Handler Protection </span></li>
        <li><span class="text"> Building Search  </span></li>
        <li><span class="text"> Area search  </span></li>
        <li><span class="text"> Scent Discrimination Trailing   </span></li>
        <li><span class="text"> Evidence Search   </span></li>
        <li><span class="text"> Narcotics/Drug Detection (w/ Weapons Detection) </span></li>
        <li><span class="text"> Explosives Detection </span></li>
        <li><span class="text"> Criminal Apprehension (including passive apprehensions,transports, multiple subjects, redirected bites, call-offs, in scenario based situations).     </span></li>
        <li><span class="text"> SAR (Wilderness/FEMA Urban Disaster/Cadaver Recovery/Fire Rescue)  </span></li>
      </ul>
    </div>


    <p class="video-break-box">
      <span class="title">WATCH VIDEO:</span>
      <a class="video"  title="" href="http://player.vimeo.com/video/12874123?fs=1&amp;autoplay=1">
        SWAT 1
      </a>,
      <a class="video"  title="" href="http://player.vimeo.com/video/12874096?fs=1&amp;autoplay=1">
        SWAT 2
      </a>
    </p>

    <div class="title">
      Dual Purpose K-9 (Narcotics or Explosives):
    </div>
    <div class="right-training-programs">
      <p>
        This K-9 is trained in dog obedience and practical dog agility, criminal apprehension, handler protection, area search, tactical building search, felony vehicle stops, scent discrimination trailing, drug detection or explosives detection.
      </p>
    </div>

    <div class="title">
      S.W.A.T Purpose K-9 (Apprehension Only):
    </div>
    <div class="right-training-programs">
      <div class="image-border-right">
        <img  src="/assets/dog_training_services/police_dogs/police-protection-dog-2.jpg"/>
      </div>
      <p>
        This K-9 is trained in S.W.A.T. or SRT applications for suspect apprehension only. These dogs endure machine gun tests, vehicle apprehensions, attic and crawlspace apprehensions, large building searches/apprehensions (dormitories, office, residential, etc.), and wilderness apprehension searches. These dogs are conditioned to tear gas, flash bangs, Tactical equipment, S.W.A.T. shields, etc. Stealth and Bark/Hold available.
      </p>
    </div>


    <div class="title">
      Patrol K-9 (Patrol & Trailing):
    </div>
    <div class="right-training-programs">
      <p>
        This K-9 is trained in dog obedience, dog agility, apprehension, handler protection, tactical building searches, felony vehicle stops, area and woods searches, and scent discrimination trailing.
      </p>
    </div>

    <div class="title">
      Detection Dogs (With or Without Trailing):
    </div>
    <div class="right-training-programs">
      <p>
        This K-9 is trained in either aggressive or passive narcotics detection or Explosives Detection and basic practical dog obedience. This dog can also be trained to perform man trailing as well.
    </div>

    <div class="title">
      Search and Rescue K-9:
    </div>
    <div class="left-training-programs">
      <div class="image-border-left">
        <img  src="/assets/dog_training_services/police_dogs/police-protection-dog-3.jpg"/>
      </div>
      <p>
        We offer several programs, which include scent discrimination trailing, wilderness air scenting (bark or re-find alert), Bark Alert, and Cadaver Recovery . Some of these areas can be cross-trained. Please visit the Search and Rescue Page.
        Our SWAT K-9 training is based on National Tactical Officer’s Association standards, as well as the Tennessee Tactical Officer’s Association.
        We have one S.W.A.T. K-9 Police Dog, and she is the only one of six S.W.A.T. canines to complete the NTOA recognized course in the State of Tennessee. She is also the ONLY canine that’s not municipality owned and ready for S.W.A.T. deployment. She was raised, trained, and titled by Nashville K-9.
      </p>
    </div>
    <p class="video-break-box">
      <span class="title">WATCH VIDEO:</span>
      <a class="video"  title="" href="http://player.vimeo.com/video/12879062?fs=1&amp;autoplay=1">
        Roxy on Rubble – USAR
      </a>
    </p>
  </div>
</div>
