<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/services_sidebar', :locals => { :show_links => true } %>
  <div class="content">

    <h2>Search and Rescue</h2>

    <div class="right">
      <div class="image-border-right">
        <img  src="/assets/dog_training_services/search_and_rescue/search-and-rescue-dog-1.jpg"/>
      </div>

      <p>
        Nashville K-9 is currently active with both the Davidson County Rescue Squad and the Overton County Rescue Squad. Our K-9 team objectives are to serve and protect Nashville/Cookeville and the surrounding counties by volunteering our time to K-9 Search and Rescue (SAR) or recovery, utilizing canines for the relief and aid of saving lives. We are internally certified by the Davidson County and Overton County Rescue Squads, members of Tennessee Association of Rescue Squads (TARS),
        and members of the National Association for Search and Rescue (NASAR). All members are certified CPR Professional Rescue and First Aid, and are ready to deploy within one hour. Each deployment team carries a Paramedic or an EMT.
      </p>
    </div>


    <div class="left">
      <div class="image-border-left">
        <img  src="/assets/dog_training_services/search_and_rescue/search-and-rescue-dog-2.jpg"/>
      </div>

      <p>
        We currently cover the entire Region III for SAR rescue relief, and train several times weekly to ensure your safety. Our structure enables the handler and canine to assist in a variety of ways including: Tactical Rescue, Rubble Search, Water and Wilderness Rescue, Unstable Ground Search, and Building Searches. Though pre-dominantly air scenting, trail scenting (trailing) is also taught. With a rigorous daily training routine, our dogs are available to respond on a moment’s notice.
        Their job is to work and their joy in passion is to do so. They are all friendly with children and adults and have been socialized with a variety of animals. They are also exposed to big city distractions such as gun shots, lights, and crowds, as well as slick floors, rough terrain, and weather. If you would like a demonstration for your school or church, feel free to call us! (615) 438-2602
      </p>
    </div>
    <img  src="/assets/dog_training_services/search_and_rescue/rescue-map.png"/>
  </div>
</div>