
<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/static_page_sidebar', :locals => { :show_links => true } %>
  <div class="content">
    <script type="text/javascript">
        $(document).ready(function() {
            $('a.fancygallery').fancybox();
        });
    </script>

    <div class="right-dogs">
      <div class="image-border-right-no-video">
        <a href="/assets/gallery/covers/puppies-police-training.jpg" rel="gallery" class="fancygallery">
          <img src="/assets/gallery/covers/puppies-police-training.jpg" class="no-video" />
        </a>
        <div style="display:none;">
          <% @album_graph.each do |album| %>
              <a class="fancygallery" rel="gallery" href="<%= album["src_big"] %>" >   </a>
          <% end %>
        </div>

        <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
      </div>

    </div>



  </div>
</div>