
<%= render :partial => 'layouts/header_main', :locals => { :show_links => true } %>

<div class="main">

  <div class="content">

    <div class="home-page">
      <div class="content-top">
        <table>
          <tr>
            <td>
              <div class="video-box"> </div>
              <div class="video">
                <iframe src="http://player.vimeo.com/video/21218268?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="573" height="328" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

              </div>
            </td>
            <td>
              <div class="right-side">
                <img   src="/assets/tagline.png"/>
                <table >
                  <tr>
                    <td>Main Office:</td>
                    <td class="number">(615) 438-2602</td>
                  </tr>
                  <tr>
                    <td>Sales:</td>
                    <td class="number">(615) 438-2602</td>
                  </tr>
                  <tr>
                    <td>Training:</td>
                    <td class="number">(615) 499-8161</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td>Click here to email us</td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div class="content-bottom">
        <table>
          <tr>
            <td>
              <h2>WELCOME</h2>

              <div>
                We cover a wide variety of needs at Nashville K-9: Search and Rescue, Executive Protection, we even train dogs for law enforcement agencies. However the most important thing we do is address the needs of your house pets. From day one we implement techniques like luring, imprinting, and proofing to make sure your new family member starts out with a strong foundation of obedience and trainability. Our techniques are practical, fun, and will impress your neighbors. With a lifetime guarantee, you can rest assured that we stand behind our training.
              </div>
            </td>
            <td>
              <ul>
                  <li><a href="/dog_training_tn_services/nashville_dog_training_programs">DOG TRAINING PROGRAMS</a></li>
                  <li><a href="/dog_training_tn_services/executive_protection_dogs">EXECUTIVE PROTECTION DOGS</a></li>
                  <li><a href="/dog_training_tn_services/detection_dogs">DETECTION DOGS</a></li>
                  <li><a href="/dog_training_tn_services/police_dogs">POLICE DOGS </a> </li>
                  <li><a href="/dog_training_tn_services/search_and_rescue">SEARCH AND RESCUE</a></li>
                  <li><a href="/dog_training_tn_services/pet_first_aid">PET FIRST AID</a></td>
              </ul>
            </td>
            <td>

            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>