
<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/static_page_sidebar', :locals => { :show_links => true } %>
  <div class="content">

  <div class="block-header">
    <span class="title"> Why we are better! </span>
  </div>
  <div class="title"></div>
  <div class="videos" width="440" height="260">
      <table>
      <tr>
        <td colspan="2">
          <div class="bordered-promos" >
            <a class="video"  title="" href="http://player.vimeo.com/video/90429741?fs=1&amp;autoplay=1">
              <img  src="/assets/training_videos/new.png"/>
            </a>
          </div>
        </td>

        <td colspan="2">
          <div class="bordered-promos" >
            <a class="video"  title="" href="http://player.vimeo.com/video/108962584?fs=1&amp;autoplay=1">
              <img  src="/assets/training_videos/WhyWereBetter.png"/>
            </a>
          </div>
        </td>
      </tr>
      </table>
    </div>
    <div class="block-header">
     <span class="title"> Hear what our clients are saying! </span>
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>

        <tr>
          <td>
            <div class="bordered-promos">
                <a class="video"  title="" href="http://player.vimeo.com/video/39101759?fs=1&amp;autoplay=1">
                  <img  src="/assets/training_videos/client-1.png"/>
                </a>
             </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/24117768?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/client-2.png"/>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/37906485?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/client-3.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/37906770?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/client-4.png"/>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/37906769?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/client-5.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/37906486?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/client-6.png"/>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/37906488?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/client-7.png"/>
              </a>
            </div>
          </td>

        </tr>
        <tr>

        </tr>
      </table>

    </div>


    <!--<div class="block-header">-->
      <!--<span class="title"> our kennel cleanliness  </span>-->
    <!--</div>-->
    <!--<div class="title"></div>-->
    <!--<div class="videos">-->
      <!--<table>-->
        <!--<tr>-->
          <!--<td>-->
            <!--<div class="bordered-promos">-->
              <!--<a class="video"  title="" href="http://player.vimeo.com/video/62126695?fs=1&amp;autoplay=1">-->
                <!--<img  src="/assets/training_videos/Kennel-Cleanliness.png"/>-->
              <!--</a>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
      <!--</table>-->
    <!--</div>-->


    <div class="block-header">
     <span class="title"> some of our dogs  </span>
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/35155573?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/dogs-1.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/35486063?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/dogs-2.png"/>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/34060120?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/dogs-3.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/36014594?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/dogs-4.png"/>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/36014621?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/dogs-5.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/34436397?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/dogs-8.png"/>
              </a>
            </div>
          </td>
        </tr>


        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/76661706?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/knox.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/76661689?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/ammo.png"/>
              </a>
            </div>
          </td>
        </tr>








        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/110069505?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/Hurricane.png"/>
              </a>
            </div>
          </td>

        </tr>
      </table>
    </div>


    <div class="block-header">
     <span class="title"> dog obedience training videos </span>
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/19304189?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/obedience-1.png"/>
              </a>
            </div>
          </td>

        </tr>

      </table>
    </div>

    <div class="block-header">
      <span class="title"> actual four week board and train dogs </span>
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/83515189?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/ammo2.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/16292500?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/ammo3.png"/>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/75062264?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/ammo4.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/16293303?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/ammo5.png"/>
              </a>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/83517858?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/ammo6.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/83517107?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/ammo7.png"/>
              </a>
            </div>
          </td>
        </tr>

      </table>
    </div>




    <div class="block-header">
     <span class="title"> protection dog videos  </span>
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/24427335?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/protection-1.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/23885197?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/protection-2.png"/>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/23885159?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/protection-3.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/23885064?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/protection-4.png"/>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/23885094?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/protection-5.png"/>
              </a>
            </div>
          </td>
        </tr>
      </table>
    </div>


    <div class="block-header">
     <span class="title">search and rescue videos </span>
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/19303955?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/rescue-1.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/12879147?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/rescue-2.png"/>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/12877190?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/rescue-3.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/12877441?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/rescue-4.png"/>
              </a>
            </div>
          </td>
        </tr>
      </table>
    </div>



    <div class="block-header">
     <span class="title"> dog agility video  </span>
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/19283538?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/agility.png"/>
              </a>
            </div>
          </td>
        </tr>
      </table>
    </div>


    <div class="block-header">
      <span class="title">dog demonstration videos  </span>
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/29877188?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/demonstration-1.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/12877596?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/demonstration-2.png"/>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/12877551?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/demonstration-3.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/12877744?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/demonstration-4.png"/>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/12878501?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/demonstration-5.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/12877658?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/demonstration-6.png"/>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/12878254?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/demonstration-7.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/12878568?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/demonstration-8.png"/>
              </a>
            </div>
          </td>
        </tr>
        
        
        
        
        <tr> 
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/75864879?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/NashvilleHumanesDogDay.png"/>
              </a>
            </div>
          </td>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/50625448?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/NashvilleHumanesDogDay2.png"/>
              </a>
            </div>
          </td>
        </tr>
        
      </table>
    </div>


    <div class="block-header">
     <span class="title"> pet first aid video</span>
    </div>
    <div class="title"></div>
    <div class="videos">
      <table>
        <tr>
          <td>
            <div class="bordered-promos">
              <a class="video"  title="" href="http://player.vimeo.com/video/23082317?fs=1&amp;autoplay=1">
                <img  src="/assets/training_videos/first-aid.png"/>
              </a>
            </div>
          </td>
        </tr>


      </table>
      <ul>
        <li><span class="text"> <a class="video"  title="" href="http://player.vimeo.com/video/84483590?fs=1&amp;autoplay=1"> NBC WSMV American Red Cross </a></span></li>
        <li><span class="text"> <a class="video"  title="" href="http://player.vimeo.com/video/84483589?fs=1&amp;autoplay=1"> CBS WTVF American Red Cross  </a></span></li>
        <li><span class="text"> <a class="video"  title="" href="http://player.vimeo.com/video/84483588?fs=1&amp;autoplay=1"> ABC WKRN American Red Cross  </a></span></li>
        <li><span class="text"> <a class="video"  title="" href="http://player.vimeo.com/video/20217548?fs=1&amp;autoplay=1"> ABC NEWS 2  American Red Cross </a></span></li>
        <li><span class="text"> <a class="video"  title="" href="http://player.vimeo.com/video/17107658?fs=1&amp;autoplay=1"> CBS NEWS 5 American Red Cross</a></span></li>
        <li><span class="text"> <a class="video"  title="" href="http://player.vimeo.com/video/17102786?fs=1&amp;autoplay=1"> FOX NEWS 17 American Red Cross </a></span></li>
      </ul>

    </div>

    <div class="block-header">
      <span class="title">  ring sport       </span>
    </div>
    <div class="title"></div>
    <ul>
      <li><span class="text"> <a class="video"  title="" href="http://player.vimeo.com/video/12895557?fs=1&amp;autoplay=1"> Belgian Malinois Hurdle Jump </a></span></li>
      <li><span class="text"> <a class="video"  title="" href="http://player.vimeo.com/video/12895546?fs=1&amp;autoplay=1">Belgian Malinois Wall Jump  </a> </span></li>
      <li><span class="text"> <a class="video"  title="" href="http://player.vimeo.com/video/12895482?fs=1&amp;autoplay=1">Belgian Malinois Protection (leg bite)</a></span></li>
      <li><span class="text"> <a class="video"  title="" href="http://player.vimeo.com/video/12895434?fs=1&amp;autoplay=1">Belgian Malinois Protection (leg bite)</a></span></li>
    </ul>



    <div class="block-header">
      <span class="title">  commercials  </span>
    </div>
    <div class="title"></div>
    <ul>
      <li><span class="text"> <a class="video"  title="" href="http://player.vimeo.com/video/19689518?fs=1&amp;autoplay=1"> K-9 Roxy in MONA music video </a> </span></li>
      <li><span class="text"> <a class="video"  title="" href="http://player.vimeo.com/video/63131201?fs=1&amp;autoplay=1"> Grady in Oreck Commercial </a> </span></li>
      <li><span class="text"> <a class="video"  title="" href="http://player.vimeo.com/video/3245803?fs=1&amp;autoplay=1"> Tennessee Lottery Commercial</a> </span></li>
      <li><span class="text"> <a class="video"  title="" href="//www.youtube.com/embed/emnKi7Hd0rw?feature=player_detailpage"> Florida Georgia Line - Sun Daze</a> </span></li>

    </ul>

  </div>
</div>