<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/overview_sidebar', :locals => { :show_links => true } %>
  <div class="content">

  <img src="/assets/titles/Testimonials.png">

    <div class="right-testimonials">
      <div class="image-border-right">
        <img  src="/assets/dog_training_overview/testimonials/Erica-Protection-Dogs.jpg"/>
      </div>

      <p>
        “Ali has not only become a friend, but part of the family. He has taught us that the Doberman is everything it
        was originally bred for: Obedient, protective of our family, and our best friend. Thanks for taking your time
        and going the extra mile and for all the times we”ve called you for advice.”
      </p>
      <p>
        Erica R. Nashville, TN
      </p>
    </div>




    <div class="right-testimonials">
      <div class="image-border-right">
        <img  src="/assets/dog_training_overview/testimonials/Jess-Search-and-Rescue.jpg"/>
      </div>

      <p>
        “Nashville K-9 has helped me take my dogs to the next level. With the Search and Rescue training and advanced obedience,
        I was able to increase my area searches and tracking. Thanks for giving us the extra push when we needed it!!”
      </p>
      <p>
        Jessica B. Nashville, TN
      </p>
    </div>






    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/Jackie-Protection-Dogs.png"/>
      </div>

      <p>
        “Thanks for helping us reach our goal of being personal protection pet owners by analyzing us and the dogs and helping to determine the correct breed for us; then, selecting the most awesome two dogs you could have found.”
      </p>
      <p>
        Jackie C., Nashville, TN
      </p>
    </div>






    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/Paisley-Nashville-Dog-Training.jpg"/>
      </div>

      <p>
        “Ali’s training has not only given me a sweet obedient dog, but a companion for life. I love hearing from people about how well behaved, and smart Paisley is! I know she wouldn’t be this way without the help of Nashville K9.”
      </p>
      <p>
        Kati P. Nashville, TN
      </p>
    </div>




    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/Drew-German-Shephard-Obedience.png"/>
      </div>

      <p>
        “I have a 6 month old german shepherd who was beginning to develop bad habits. I contacted Ali and was reassured these problems could all be fixed. “Nate” spent two weeks with Ali and has started his transformation into the perfect dog. He no longer pulls with his leash and is constantly looking at me for further instruction. He would follow simple commands before meeting Ali, as long as a “treat” was involved but became distracted afterwards. Now he is doing 40-50 foot stays! Ali also kept me updated every couple of days
        on Nate’s progress, as well as, sending me pictures of his training. He also does a wonderful post-training class with the owners. The only wish I had about nashville k9 is that I would have contacted them sooner!”
      </p>
      <p>
        Drew M., Brentwood, TN
      </p>
    </div>





    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/Sam-Basic-Obedience-Training.jpg"/>
      </div>

      <p>
        “Getting my new puppy a start with obedience and basic training was incredibly important to me. Ali’s work with Goldie has given us the beginning we needed. Without a doubt, I will be relying on Ali’s expertise and advice in the years to come. I also highly recommend Ali to anyone looking to get the right paw forward!”
      </p>
      <p>
        Sam E. Nashville, TN
      </p>
    </div>






    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/MikeL-Hunting-Dogs-Minnesota.jpg"/>
      </div>

      <p>
        “Thanks for helping improve my dogs obedience! Burke”s become a hunting expert! I will be seeing you soon for more hunting dogs!”
      </p>
      <p>
        Mike L. Minneapolis, MN
      </p>
    </div>






    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/Mike-Doberman-Pinscher-Obedience-Nashville.jpg"/>
      </div>

      <p>
        “Thanks for training me to train Greta and Faydor. You”ve really set the bar for K-9 trainers in the south. Thanks again!”
      </p>
      <p>
        Mike S. Nashville, TN
      </p>
    </div>






    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/Deborah-Pomeranian-Obedience-Training.jpg"/>
      </div>

      <p>
        Ali is not only the super-trainer for big serious working dogs, he can also train the pint-sized ones like my 8-lbs Pomeranian ADHD puppy! I”ve had other dogs I could easily train and knew Dolce was smart, so after many months I grew frustrated at my lack of progress. Then when he slipped out of the house & started chasing cars, I knew it was time for some serious help. Ali to the rescue! Ali was able to get this playful pup to sit, stay put and come on command; truly amazing for this hyperactive dog. It is obvious after only a short time that this is not just a job Ali is good at, but he truly cares

        about dogs. Moreover, he is willing to share his knowledge and offer advice whenever needed. What a great resource when I”m at my wit”s end! I feel like Dolce and I both have a new friend. Furthermore, I am confident that Dolce will be safe and secure in my backyard with the tips that Ali shared with me. Thanks, Ali – you are a life saver! Literally!
      </p>
      <p>
        Deborah F., Nashville, TN
      </p>
    </div>


    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/Alex-Pit-Bull-Obedience.jpg"/>
      </div>

      <p>
        “Thanks for training me to train Greta and Faydor. You”ve really set the bar for K-9 trainers in the south. Thanks again!”
      </p>
      <p>
        Alex J. Nashville, TN
      </p>
    </div>


    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/KochCedar-Rottweiler-Obedience-Training.jpg"/>
      </div>

      <p>
        “I was lucky to get a beautiful, well-bred, adult Rottweiler who had no obedience training. I was having a very difficult time bonding with Cedar because she had some behaviors that I had never dealt with in my previous Rotties. There were times I was ready to give up – and then I found Nashville K9 and contacted Ali. He diagnosed our “issues” immediately and after only 2 sessions, Cedar was performing her basic obedience beautifully. What’s even better was that he made very simple suggestions for things I could do with her

        to strengthen and build our bond. Today we are still working with Cedar but she is a different dog entirely. Our “relationship” gets better and stronger every day and I am so grateful that I found an excellent trainer and dog behavioralist.”
      </p>
      <p>
        Renee Koch and Tim, with Cedar – Nashville, TN
      </p>
    </div>



    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/Crystal-Doberman-Pinscher-Obedience-Phoenix.jpg"/>
      </div>

      <p>
        “I have a 1 year old Doberman Pinscher named Ruger that I had major biting and obedient issues with as a puppy. When he was 6 months old I took him to a trainer that trained the old fashioned way. This is making your dog submissive by instilling fear into them. The problem with that is he is almost bigger than me and much stronger so he is not afraid of me by any means. Using the other trainer”s techniques has weakened the bond between me and Ruger so he doesn”t want to please me or play with me. Fortunately I met Ali with Nashville K9
        who is very experienced in dog training and owns 2 Dobermans. He has totally different training techniques which I like much better than my previous trainer. The first time he came over Ruger responded to him extremely well, he taught me some tricks to use to regain the bond between me and Ruger. After working with Ruger a few days after our first training session I can already see a big difference in the response I”m getting from him. I”m thrilled with the outcome so far and to know that with some more hard work and Ali”s help I”ll soon have the best friend I”ve always wanted.”
      </p>
      <p>
        Crystal H. Phoenix, AZ
      </p>
    </div>



    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/Julie-California-Protection-Dogs.png"/>
      </div>

      <p>
        “Special thanks to Julie K. from California for the purchase of two protection dogs!”
      </p>

    </div>



    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/Floyd.jpg"/>
      </div>

      <p>
        Mr. and Mrs. Floyd M.
      </p>

    </div>

    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/Angela-Doberman-Pinscher-Obedience.jpg"/>
      </div>

      <p>
        Mr. and Mrs.Tim and Angela Brewer
      </p>

    </div>


    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/kacy.jpg"/>
      </div>

      <p>
        Kacy S., Nashville, Tn
      </p>

    </div>


    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/markchri.jpg"/>
      </div>

      <p>
        Mark Christiansen
      </p>

    </div>


    <div class="right-testimonials">
      <div class="image-border-right">
       <img  src="/assets/dog_training_overview/testimonials/malakouti.jpg"/>
      </div>

      <p>
        “Special thanks to the Malakouti family for their purchase of two Doberman Pinscher Protection companions.”
      </p>

    </div>

  </div>
</div>