<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/contact_sidebar', :locals => { :show_links => true } %>
  <div class="content">
    <h2>Contact Us</h2>
    <div class="contact-us">

<p>
<%= link_to 'Home', root_url, :class => 'button'  %>
        </div>
  </div>
</div>
