
.main {
  width: 1000px;
  background-image: image-url("sub_bkg.png");

}
.video-break-box {
  background-color: gray;
  color: #ffffff;
  padding:8px;
}

.menu {
  width: 570px;
  float: right;
  background-color: green;
  padding:1px 0px 1px 0px;
  ul {
    li{
      padding: 0 4px 0  4px;
      list-style-type: none;
      display: inline;
      border-bottom-style: none;

    }
  }
}



.content {
  float: right;
  width: 500px;
}