
.main {
  width:1200px;
  margin:auto;
}

.header-child {
  height: 220px;
  width:1200px;
  background-image: url('/assets/sub_bkg.png');
  margin:auto;
}

.header-main {
  height: 630px;
  width:1200px;
  background-image: url('/assets/main_bkg.png');
  margin:auto;
}

.table-footer {
    padding-top: 10px;
    width: 960px;
    margin: auto;
    border-top: 1px solid #333;
    .td-one {
      width:60px;
      vertical-align:top;
    }
    .td-two {
      align:left;
      width:560px;
      vertical-align:middle;
      margin-top:-20px;
    }
    .td-three{
      width:272px;
      vertical-align:top
    }


}
//########  MAIN CONTENT  ####################
.content {
  float: left;
  width: 610px;
  line-height: 2em;
  padding:20px;
  color: #C9C6B7;
  h2 {
    font-family: Rockwell;
    font-weight: bold;
    text-align: left;
    color: #f8f8ff;
    font-size: 24px;
  }

  h4 {
    color: #B8A84F;
  }

  a {
    color: #C9C6B7;
  }
  span {
    color: #C9C6B7;
  }
  div.title {
    word-wrap: normal;
    width: 600px;
    text-align: left;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #B8A84F;
    border-bottom: 1px solid #333;
  }

  p.video-break-box {
    background-color: #25221D;
    color: #ffffff;
    padding:7px;
    a {
      text-decoration: none;
      color: #ffffff;
    }
    .title {

      padding: 0 5px 0 5px;
      font-weight: bold;
      color: #B8A84F;
    }
  }

  div.block-header{
    width: 585px;
    color: #BDB9B1;
    padding: 4px;
    border-right: 1px solid #333;
    padding-left: 20px;
    padding-top: 7px;
    background-color: #25221D;
    .title {
      font-family: Rockwell;
      font-size: 20px;
      color:white;
      font-weight: bold;
    }
  }

  ul {
    div.title {
      width: 270px;
      text-align: left;
      padding: 5px;
      font-size: 18px;
      font-weight: bold;
      color: #B8A84F;
      border-bottom: 1px solid #333;
      margin-left: -20px;
    }

    li {
      list-style-type: square;
      color: #B8A84F;
      span.text {
        color: #C9C6B7;
      }
    }
    h2 {
      margin-left: -20px;
      font-weight: bold;
      text-align: left;
      color: #ffffff;
    }
  }
  //############################
  .right {
    .image-border-right {
      float: right;
      padding-left: 2em;

      img {
        border: 5px;
        border-style: solid;
        border-color: #352F15;
        width: 220px;
        height: 150px;
      }
    }
  }

  .left {
    .image-border-left {
      float: left;
      padding-right: 2em;

      img {
        border: 5px;
        border-style: solid;
        border-color: #352F15;
        width: 220px;
        height: 150px;
      }
    }
    .right {
      float: right;
      padding-left: 2em;
      img {
        border: 5px;
        border-style: solid;
        border-color: #352F15;
        width: 220px;
        height: 150px;
      }
    }
  }

  //############################
  .fancybox {



  }
  .image-border {
    border: 5px;
    border-style: solid;
    border-color: #352F15;
    width: 255px;
  }
}
.numbers {
  color: #C9C6B7;
}