
.sub-page-sidebar {
  width: 330px;
  float: left;
  margin-left: 130px;
  margin-top: -50px;



  .random-image-border {
    float: left;
    width: 302px;
    height: 212px;
    opacity: 0.4;
    -moz-opacity: 0.40;
    filter: alpha(opacity=40);
    border: 11px solid black;
  }
  .random-image {
    margin-top:-220px;
    float: left;
    padding-left: 12px;
    width: 302px;
    height: 212px;
  }

  a {
    text-decoration: none;
    color: #B8A84F;
    font-weight: bold;
  }

  a.active {
    color: #ffffff;

  }

  ul.navSidebar {
    float: left;

    li {
       .active {
        color: #ffffff;
      }
      line-height: 3em;
      float: left;
      width: 250px;
      margin-left:-30px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #333;
      list-style: none;
      margin-bottom: 5px;
      padding-bottom: 5px;

    }
  }

  h2 {
    font-family: Rockwell;
    padding-left: 8px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
  }
  .contact {
    margin-top: -20px;
    width: 330px;
    float: left;
    color: #f5f5f5;
    font-size: 13px;
    ul   {
      margin-left: -30px;
      width: 270px;
      li{
        line-height: 2em;
        list-style-type: none;
        display: block;
        border-bottom-style: none;
        span {
          color: #C9C6B7;
          float:right; font-weight: normal;
        }
      }
    }
  }

  div.static-pages {
    height: 20px;

    .contact {
      margin-top: -20px;
      width: 330px;
      float: left;
      color: #C9C6B7;
      ul {
        li{
          font-weight: bold;
          line-height: 1em;
          list-style-type: none;
          display: block;
          border-bottom-style: none;
          span {
            float:right; font-weight: normal;
          }
        }
      }
    }
  }


  div.contact-page-sidebar {
     width: 300px;
    ul {   float: left;
      width: 300px;
      li.header {
        line-height: 1em;
        float: left;
        width: 300px;
        margin-left:-30px;
        font-size: 12px;
        font-weight: bold;
        color: #B8A84F;
        border-bottom: none;
        list-style: none;
        margin-bottom: 5px;
        padding-bottom: 5px;

      }
      li {
        line-height: 2em;
        float: left;
        width: 250px;
        margin-left:-30px;

        list-style: none;
        margin-bottom: 5px;
        padding-bottom: 5px;

      }
    }
  }
}
