<nav class="sub-page-sidebar">
  <div class="random-image-border"></div>
  <div class="random-image">
    <script type="text/javascript">
        showImage();
    </script>
  </div>
  <div class="contact-page-sidebar">
      <ul>
        <li class="header">Nashville K-9 Main Office</li>
        <li>(615) 438-2602</li>
      </ul>

      <ul>
        <li class="header">Nashville K-9 Sales</li>
        <li>(615) 438-2602 </li>
      </ul>
      <ul>
        <li class="header">Nashville K-9 Training </li>
        <li>(615) 499-8161</li>
      </ul>
      <ul>
        <li class="header">U.S. Military, Customs, DEA, DHS Orders: </li>
        <li>(615) 499-8161  </li>
      </ul>
      <ul>
        <li class="header">Tennessee Sheriff or Police Orders: </li>
        <li>(615) 499-8161 </li>
      </ul>
      <ul>
        <li class="header">Davidson Co. K-9 Emergency Assistance:  </li>
        <li>(615) 943-4743 </li>
      </ul>
      <ul>
        <li class="header">Overton Co. K-9 Emergency Assistance: </li>
        <li>(931) 783-3653   </li>
      </ul>
  </div>
</nav>
