<nav class="menu">
  <table>
    <tr>
      <td><a href="/">HOME</a></td>
      <td><img  src="/assets/seperator.png"/></td>
      <td><a href="/dog_training_tn_overview/index">OVERVIEW</a></td>
      <td><img  src="/assets/seperator.png"/></td>
      <td><a href="/dog_training_tn_services/index">SERVICES</a></td>
      <td><img  src="/assets/seperator.png"/></td>
      <td><a href="/pages/dogs">DOGS</a></td>
      <td><img  src="/assets/seperator.png"/></td>
      <td><a href="/pages/training_videos">TRAINING VIDEOS</a></td>
      <td><img  src="/assets/seperator.png"/></td>
      <td><a href="/pages/gallery">GALLERY</a></td>
      <td><img  src="/assets/seperator.png"/></td>
      <td><a href="/users/new">CONTACT</a></td>
    </tr>
  </table>

</nav>