<nav class="menu">
  <ul>
    <li>HOME</li>
    <li><a href="/overview/index">OVERVIEW</a></li>
    <li><a href="/dog_training_tn_services/index">SERVICES</a></li>
    <li>DOGS</li>
    <li>TRAINING VIDEOS</li>
    <li>GALLERY</li>
    <li>CONTACT</li>
  </ul>
</nav>