
<nav class="overview-sidebar">
  <div class="random-image"> </div>

  <ul>
    <li><a href="index">NASHVILLE K-9 OVERVIEW</a></li>
    <li><a href="meet_the_team">MEET THE TEAM</a></li>
    <li><a href="company_facts">COMPANY FACTS</a></li>
    <li><a href="facility">FACILITY</a></li>
    <li><a href="testimonials">TESTIMONIALS</a></li>
    <li><a href="press">PRESS</a></li>
    <li><a href="partners">PARTNERS</a></li>
  </ul>
  <div class="contact">
    <ul>
      <li>Contact Nashville K-9</li>
      <li>Nashville K-9 Main Office      <span style="float:right">(615) 438-2602</span></li>
      <li>Nashville K-9 Sales            <span style="float:right">(615) 438-2602</span></li>
      <li>Nashville K-9 Training         <span style="float:right">(615) 499-8161</span></li>
      <li>Nashville K-9 Email            <span style="float:right">Click here to email us</span></li>
      <li>Click here for other contact information</li>
    </ul>
  </div>
</nav>


