<nav class="sub-page-sidebar">
  <div class="random-image-border"></div>
<div class="random-image">
  <script type="text/javascript">
      showImage();
      setActive();
  </script>
</div>
<ul class="navSidebar" id="navSidebar">
  <li class="notActive"><a href="index"><span class="box" >OVERVIEW</span></a></li>
  <li class="notActive"><a href="nashville_dog_training_programs"  ><span class="box" >DOG TRAINING PROGRAMS</span></a></li>
  <li class="notActive"><a  href="executive_protection_dogs"><span class="box"  >EXECUTIVE PROTECTION DOGS</span></a></li>
  <li class="notActive"><a href="detection_dogs"><span class="box">DETECTION DOGS</span></a></li>
  <li class="notActive"><a href="police_dogs"><span class="box">POLICE DOGS</span></a></li>
  <li class="notActive"><a href="search_and_rescue"><span class="box">SEARCH AND RESCUE</span></a></li>
  <li class="notActive"><a href="pet_first_aid"><span class="box">PET FIRST AID</span></a></li>
  <li class="notActive"><a href="hunting_dogs"><span class="box">HUNTING DOGS</span></a></li>
</ul>
  <table style="height:20px;"> <tr><td style="height:20px">&nbsp; </td></tr></table>

  <img src="/assets/titles/Contact.png" class="contactImg">

  <div class="contact">
    <ul>
      <li>Nashville K-9 Main Office      <span>(615) 438-2602</span></li>
      <li>Nashville K-9 Sales            <span>(615) 438-2602</span></li>
      <li>Nashville K-9 Training         <span>(615) 499-8161</span></li>
      <li>Nashville K-9 Email            <span><a style="color:white" href="/users/new">Click here to email us</span></a></li>
      <li></li>
      <li><a style="color:white" href="/users/new">Click here</a> for other contact information</li>
    </ul>

  </div>
</div>
</nav>
