<!DOCTYPE html>
<html>
    <head>
      <SCRIPT LANGUAGE="JavaScript">


          function setActive()
          {
              aObj2 =   document.getElementById('navSidebar').getElementsByTagName('a');
              for(i=0;i<aObj2.length;i++)
              {
                  if(document.location.href.indexOf(aObj2[i].href)>=0)
                  {
                      aObj2[i].className='active';
                  }
              }
          }
          window.onload = setActive;




          var theImages = new Array()

          theImages[0] = '/assets/dog_training_overview/dog-training-overview-1.jpg'
          theImages[1] = '/assets/dog_training_overview/dog-training-overview-2.jpg'

          var j = 0
          var p = theImages.length;
          var preBuffer = new Array()
          for (i = 0; i < p; i++){
              preBuffer[i] = new Image()
              preBuffer[i].src = theImages[i]
          }
          var whichImage = Math.round(Math.random()*(p-1));
          function showImage(){
              document.write('<img src="'+theImages[whichImage]+'">');
          }
      </script>


      <title> </title>
      <%= stylesheet_link_tag    "application", media: "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    </head>
    <body   onLoad="autoImgFlip();">
        <div class="container">
          <%= yield %>
        </div>
    </body>
</html>
