<!DOCTYPE html>
<html  >
    <head>
      <title> </title>
      <%= stylesheet_link_tag    "application", media: "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

    </head>
    <body   onLoad="setActive();">
        <div class="container">



          <%= yield %>
        </div>
    <footer>
      <table class="table-footer">
        <tr>
          <td class="td-one">
            Follow Us
          </td>
          <td class="td-two" >
            <a href="http://www.facebook.com/pages/wwwNashvilleK9com/283654260595" rel="nofollow" >
              <img src="/assets/facebook-icon.png"  alt="  on Facebook" title="  on Facebook" class="" /></a>
            <a href="http://twitter.com/#!/NashvilleK9" rel="nofollow" >
              <img src="/assets/twitter-icon.png"  alt="  on twitter" title="  on twitter" class="" /></a>
            <!--<a href="http://www.linkedin.com/in/yourname" rel="nofollow" >
<img  src="http://www.nashvillek9.com/wp-content/gallery/SocialMediaWidgets/LinkedIn.png" alt="  on LinkedIn" title="  on LinkedIn" class="" /></a>-->
            <a href="http://www.youtube.com/user/nashvilledogtraining" rel="nofollow" >
              <img src="/assets/youtube-icon.png"  alt="  on youtube" title="  on youtube" class="" /></a>
            <a href="http://vimeo.com/user3724420" rel="nofollow" >
              <img src="/assets/vimeo-icon.png"  alt="  on vimeo" title="  on vimeo" class="" /></a>
          </td>
          <td class="td-three">
            © 2011 - Nashville K-9, LLC - All Rights Reserved </td>
        </tr>
      </table>

    </footer>
    </body>
</html>
